/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:		VIVO entity styles
Author:		nac26@cornell.edu
Updated:	November 20, 2007
*/