/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:		VIVO screen styles
Authors:	nac26@cornell.edu, mw542@cornell.edu
Updated:	April 7, 2008
*/

* {
	margin: 0;
	padding: 0;
}
 
body {
	font-family: Verdana, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	text-align: left;
	color: #333;
	background: #4d5155;
}

.clear {
	clear: both;
}

#wrap {
	margin: 0 auto;
	text-align: left;
	width: 85%;
	min-width: 917px;
}

#contentwrap {
	margin-bottom: 4px;
	padding: 12px 0 1px 16px; /* right padding taken care of within dashboard (to allow centering of profile image) */
	background: #fff url(../site_icons/layout/bg_page.gif) no-repeat right top;
}

#header {
/*	margin-bottom: 19px;*/
	display: inline; /* nac26: added 080307 so dasboard will sit up at the top of the page, touching the bottom of the header */
}

#menu {
	float: right;
	display: inline;
	clear: both;
	margin-top: 1px;
	margin-right: 262px;
}

#secondaryMenu {
	display: inline-block;
	clear: both;
	width: 100%;
}

#content {
	width: 100%;
	padding: 16px 2px 10px 0;
/*	padding: 16px 16px 10px 0;*/
}

* html #content.person {
	width: 60%; /* shrunk this down due to Windows machines with OS DPI set to large (120dpi) -- causing main content to be pushed below dashboard. 67% appears to be threshold */
}

#content.person {
/*	float: left;*/
/*	clear: both;*/
	margin-top: 8px;
	min-width: 640px;
	width: 70%;
/*	min-width: 640px;*/
}

/*#content.full {
	float: none;
	width: 100%;
}*/

#dashboard {
	float: right;
	clear: right;
/*	display: inline;*/
	width: 256px;
	min-height: 600px;
	background: transparent url(../site_icons/layout/bg_dashboard.gif) no-repeat left 4px;
	text-align: center;
}

#footer {
	clear: both;
	color: #fff;
}

/****************************************************************
head roll call
****************************************************************/
em.portal {
	display: inline;
	vertical-align: top;
	padding-left: 7px;
	font-size: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #ccc;
}

/****************************************************************
menu roll call
****************************************************************/
ul#primary {
	float: right;
	display: inline-block;
	height: 20px;
	margin-top: 11px;
}

ul#otherMenu {
	float: right;
	display: inline-block;
	margin: 3px 16px 0 0;
	padding: 0;
}

ul#primary li, ul#otherMenu li {
	display: inline;
	margin-left: 5px;
	padding: 5px 2px 5px 2px;
	font-size: 1.2em;
/*	border: solid 1px #f81;*/
}

ul#otherMenu li {
	font-size: 1.0em;
}

ul#primary li a:link, ul#primary li a:visited, ul#otherMenu li a:link, ul#otherMenu li a:visited {
	padding: 5px 2px 5px 2px;
	color: #a8c1ca;
/*	color: #999;*/
	border: none;
}

ul#primary li a:hover, ul#otherMenu li a:hover {
	color: #185;
/*	border-bottom: solid 1px #fff;*/
}

ul#primary li a:link.activePrimaryTab, ul#primary a:visited.activePrimaryTab {
	color: #f81;
	background: transparent url(../site_icons/layout/bg_li_activetab_small.gif) no-repeat 50% bottom;
}

li.activeTab {
	display: inline;
	margin: 10px 0;
	font-size: 1.2em;
}

li.activePrimaryTab {
	display: inline;
/*	margin: 10px 0;*/
	color: #185;
}

.breadCrumbs {
	float: left;
	padding-left: 1px;
	margin: 3px 0 0 1px;
	color: #999;
}

.breadCrumbs a:link, .breadCrumbs a:visited {
	color: #999;
}

.breadCrumbs a:hover {
	color: #f81;
}

/****************************************************************
content roll call
****************************************************************/
.admin {
	margin: 10px 0;
	padding: 10px;
	background-color: #8ac;
}

.admin a:link, .admin a:visited {
	color: #fff;
}

.admin a:hover {
	color: #203e48;
}

.entityValues {
	color: #555;
	font-size: 0.9em;
	line-height: 0.9em;
}

.citation {
	clear: both;
	padding-top: 25px;
}

span.SearchTerm, h1 span.SearchTerm, a:link span.SearchTerm, a:visited span.SearchTerm {
	background: #ffb;
}

.entity {
	margin-top: 0;
	padding-top: 0;
	padding-right: 16px;
}

.entity em.moniker {
	float: left;
	display: inline-block;
	padding-top: 12px;
	padding-left: 16px;
	font-size: 1.2em;
}

ul.externalLinks {
	clear: both;
	margin-bottom: 20px;
	padding-left: 2px;
}

ul.externalLinks li {
	display: inline;
	padding-left: 4px;
	border-left: solid 1px #ccc;
}

ul.externalLinks li.first {
	padding-left: 0;
	border-left: none;
}

a:link.propertyLink, a:visited.propertyLink {
	font-weight: bold;
}

a:link.externalLink, a:visited.externalLink {
	color: #5ab;
	font-size: 0.9em;
/*	border: none;*/
}

a:visited.externalLink {
	color: #666;
}

a:hover.externalLink {
	color: #f81;
}

.thumbnail {
	float: left;
	clear: both;
	margin-bottom: 20px;
}

ul.properties {
/*	clear: both;*/
}

ul.tabEntities {
	margin-top: 25px;
}

#datatypeProperties ul ul {
	margin-left: 10px;
	font-size: 0.9em;
}

#datatypeProperties ul, #datatypeProperties p {
	clear: left;
}

ul.properties li.property, ul.datatypeProperties li.datatypeProperty, ul.tabEntities li {
	margin-top: 7px;
	font-size: 1.1em;
	font-weight: bold;
}

ul.datatypeProperties li.datatypeProperty span, span.entityMoreSpan span.resultsMoreSpan {
	font-weight: normal;
	color: #185;
}

ul.datatypeProperties li.datatypeProperty span:hover, span:hover.entityMoreSpan span:hover.resultsMoreSpan {
	color: #f81;
}

ul.properties li.property ul, ul.datatypeProperties li.datatypeProperty ul, div.indent, div.blurb {
	margin-top: 4px;
/*	margin: 4px 0 0 8px;*/
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.5em;
}

div.indent, ul.datatypeProperties li.datatypeProperty p, div.blurb {
	font-size: 0.99em;
}

/****************************************************************
search roll call
****************************************************************/
.searchTOC {
	float: left;
	padding: 7px 0;
	font-size: 1.2em;
}

.searchTOC a:link, .searchTOC a:visited {
	padding: 5px;
	color: #f81;
	border: dotted 1px #333;
}

.searchTOC a:hover {
	background: #f81;
	color: #fff;
}

.contentsBrowseGroup {
	padding-top: 10px;
}

.contentsBrowseGroup ul li {
	margin-bottom: 6px;
	font-size: 1.2em;
}

.contentsBrowseGroup ul li div {
	font-size: 0.86em;
	color: #888;
}

/****************************************************************
admin roll call
****************************************************************/
select#search-form-qualifier {
/*	padding: 3px 0 3px 3px;*/
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #185;
	border: none;
	background: #f3f3f3 url(../site_icons/layout/bg_search_field.gif) no-repeat top left;
}

#search-input select option {
	padding-right: 6px;
}

/****************************************************************
dashboard roll call
****************************************************************/


/****************************************************************
footer roll call
****************************************************************/
#footer p.siteFeedback {
	float: right;
}

/****************************************************************
basics roll call
****************************************************************/
/* Disable the deprecated HTML <font> tag. Reduces need to zoom.) */
font {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
}

div.pm-indicators {
	font-size: 2.8em !important;
}

p {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 1.1em;
	line-height: 1.5em;
	text-align: left;
}

h1 {
	margin: 7px 0 2px 0;
	font-size: 2.3em;
	font-family: Verdana, Helvetica, sans-serif;
	color: #fff;
}

h2 {
	margin: 20px 0 2px 0;
	font-size: 2.3em;
	font-family: Verdana, Helvetica, sans-serif;
	color: #000;
}

.entity h2 {
	margin: 7px 0 2px 0;
	font-size: 2.3em;
	font-family: Verdana, Helvetica, sans-serif;
	color: #000;
}

.entity h2 em {
	padding: 1.5em 0 2em 0;
	font-size: 0.55em;
	font-weight: normal;
	font-style: normal;
	color: #397382;
}

.entity h2 {
	float: left;
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 0;
}

span.h2 {
	display: block;
	margin: 15px 0 4px 0;
	font-size: 1.5em;
	font-weight: bold;
	color: #054;
}

h2.primary {
	margin-top: 10px;
	font-family: Georgia, Verdana, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	color: #630;
}

.siteMap h2  {
    font-size: 1.7em;
    color: #203E48;
}

h3 {
	margin: 30px 0 4px 0;
	font-size: 1.7em;
	line-height: 1.3em;
	font-family: Verdana, Helvetica, sans-serif;
	color: #203e48;
}

/*h3 {
    margin-top: 25px;
    font-size: 1.0em;
    color: #087;
}*/

h3 a:link, h3 a:visited {
	color: #134;
	border-color: #134;
}

h3 a:hover {
	color: #f81;
}

h3.propertyName {
	clear: left;
	margin: 30px 0 3px 0;
	padding: 0;
	font-size: 1.2em;
	color: #000;
}

h3.centered {
	margin-top: 10px;
	font-size: 1.2em;
}

.admin h3 {
	margin-top: 0;
}

.contentsBrowseGroup h3 {
	clear: both;
	margin-top: 20px;
	font-size: 2.0em;
	color: #f81;
}

#loginarea h3 {
	margin-top: 10px;
}

h4 {
	margin-top: 10px;
	font-size: 1.0em;
}

h4.compapp-ref {
	padding: 10px;
	font-size: 1.2em;
	color: #777;
	background: #ded5b3;
}

h4 a:link, h4 a:visited {
	color: #087;
	border-color: #087;
}

h4 a:hover {
	color: #f81;
}

h4.first, .contentsBrowseGroup h4.first {
	margin-top: 4px;
}

.contentsBrowseGroup h4 {
	margin-top: 12px;
	margin-bottom: 4px;
	font-size: 1.2em;
}

h6 {
	margin-top: 2px;
	font-size: 1.0em;
	font-weight: normal;
}

h6 a {
	color: #054;
	border-bottom-color: #054;
}

h6 a:hover {
	background: #054;
}

#tags h6 {
	float: left;
	margin: 0 4px 0 0;
	font-weight: bold;
}

address {
	float: left;
	margin: 10px 0 0 16px;
	width: 40%;
	text-align: left;
	font-style: normal;
	line-height: 1.3em;
}

/****************************************************************
image roll call
****************************************************************/
img.right {
	float: right;
	margin: 4px 0px 4px 20px;
	padding: 4px;
	border: solid 1px #999;
}

img.img-right, img.img-left, img.img-left-wrap, img.img-center {
	margin: 4px 0px 4px 20px;
	/* padding: 4px; */
	border: solid 1px #999;
}

img.img-right {
	float: right;
}

img.img-left {
	margin-left: 0;
}

img.img-left-wrap {
	float: left;
	display: inline;
	margin: 4px 10px 4px 0px;
}

img.img-center {
	display: block;
	margin: 0 auto;
}

img.clean {
	margin: 0;
	padding: 0;
	border: 0;
}

a.image img, a.equipCal img {
	border: 0;
}

.clear-left {
	clear: left;
}

img.headshot {
	margin: 20px 0 8px;
	border: solid 1px #333;
}

img.manageProfile {
	float: right;
}

img.border-free {
	border: 0;
}

img.pad-right {
	margin-right: 8px
}

.pm-indicators {
	font-size: 2.4em;
}

.photo {
	float: right;
	margin: 4px 0px 4px 20px;
}

.photo p {
	padding-top: 4px;
	color: #666;
	font-size: 0.9em;
	text-align: center;
}


/****************************************************************
anchor roll call
****************************************************************/
a:link, a:visited {
	color: #185;
	border-bottom: solid 1px #bacec5;
	text-decoration: none;
}

a:visited {
	color: #666;
}

a:hover {
	color: #f81;
/*	background: #d9e5e0;*/
}

a:link.clean, a:visited.clean, a:hover.clean {
	background: transparent;
}

a:link.image, a:visited.image, a:hover.image {
	border: none;
	background: transparent;
}

a:link.spotty, a:visited.spotty, a:hover.spotty {
	float: left;
}

a:link.vivoLogo, a:visited.vivoLogo, a:hover.vivoLogo {
/*	float: left;*/
	display: inline;
/*	height: 1%;*/
}

a:link.login, a:visited.login, a:hover.login {
	float: right;
	margin-right: 15px;
}

ul#profileCats li a:link, ul#profileCats li a:visited {
	margin-right: 8px;
	padding: 6px 6px 4px;
/*	padding: 10px 10px 8px;*/
	border: none;
	font-family: Arial, sans-serif;
/*	font-family: Helvetica, Verdana, sans-serif;*/
	font-weight: bold;
	color: #a7b9bd;
	background: #f2f6f7;
}

ul#profileCats li a:hover {
	color: #f2f6f7;
	background: #a7b9bd;
}

ul#profileCats li a:link#currentCat, ul#profileCats li a:visited#currentCat {
	color: #fff;
	background: #2e515c;
}

ul.dataProperties li em a:link {
	color: #5ca2ba;
}

ul.profileLinks li a:link {
	color: #b31b1b;
}

.propsCategory h2 {
	float:none;
	display:inline;
	font-size:1.8em;
	font-weight:500;
	color:black;
	background-color:#E4E4C8;
	padding-left:0.2em;
	padding-top:0.2em;
	padding-bottom:0.1em;
}

#footer a:link, #footer a:visited {
	color: #bacec5;
}

#footer a:hover {
	color: #fff;
	border-color: #fff;
}

/****************************************************************
list roll call
****************************************************************/
ul li {
	padding: 0 0 4px 0;
	list-style-type: none;
	background: transparent url(../site_icons/layout/bg_li_bullet.gif) no-repeat 4px 5px;
	font-size: 1.1em;
}

table ul {
	margin-top: 10px;
}

table ul li {
	margin-left: 12px;
	list-style-type: disc;
}

/* end jc55 added */

ul#profileCats {
	clear: left;
	display: inline-block; /* to stop IE6 jump on hover */
/*	margin: 20px 0;*/
}

ul#profileCats li {
	display: inline;
/*	margin: 20px 0;*/
	font-size: 1.0em;
/*	font-size: 1.2em;*/
	line-height: 3.0em;
	text-transform: uppercase;
}

ul.dataProperties li em {
	font-size: 0.9em;
	font-style: normal;
}

ul.profileLinks {
	margin-left: 10px;
	text-align: left;
}

ul.profileLinks li {
	padding-left: 14px;
	background: transparent url(../site_icons/layout/bg_li_profileLinks.gif) no-repeat left 3px;
}

#tags ul {
	margin-bottom: 10px;
	height: 1.2em;
}

/* The following 4 selectors are derived from http://annevankesteren.nl/test/examples/css/comma-separated.html */
#tags ul li {
	display: block;
	float: left;
	_display: inline;
	_float: none;
}

#tags ul li::before {
	content: ", ";
	white-space: pre;
}

#tags ul li:first-child::before {
	content: "";
}

#tags ul + * {
	clear: left;
}

/****************************************************************
form roll call
****************************************************************/
.hidden {
	display: none;
}

form h3 {
	margin-bottom: 5px;
}

form label {
	font-size: 1.3em;
	font-weight: normal;
}

form em {
/*	color: #f00;
	font-size: 1.4em;*/
	font-style: normal;
	line-height: 1.0em;
}

p.note em {
	color: #f00;
	font-size: 1.2em;
	font-style: normal;
}

form label em, form.equipment-reservation li em, form.equipment-reservation p em {
	display: block;
	color: #888;
	font-size: 0.8em;
}

em.subtle {
	color: #888;
	font-size: 0.9em;
}

form input, form textarea {
	padding: 3px;
	color: #393;
	font-weight: bold;
}

form input#submit {
	color: #054;
}

form input#hoursperweek {
	margin-top: 3px;
}

form select#category {
	margin-top: 16px;
	width: 127px;
}

form dd.reserves select#category {
	margin: 0;
}

form select#participantnumber {
	width: 90px;
}

form select#year {
	width: 110px;
}

form select#location {
	width: 120px;
}

form textarea#referrer {
	color: #666;
	font-weight: normal;
}

form textarea {
	width: 95%;
}

form dt {
	float: left;
	clear: left;
	text-align: right;
	margin: 5px 10px 0 0;
	width: 140px;
}

form.suggestions dt, form.feedback-staff dt {
	width: 110px;
}

form.instruction dt, form.consultation-request dt {
	width: 180px;
}

form.computing-apply dt, form.course-reserves dt {
	width: 220px;
}

form.equipment-reservation dt {
	width: 160px;
}

form dl.reference dt {
	width: 150px;
}

form dl.reference {
	background: #ded5b3;
}

form dd {
	padding-top: 3px;
	margin-bottom: 2px;
}

form dl#blockified dt {
	float: none;
	margin-bottom: 3px;
	width: 510px;
	text-align: left;
}

form dl#blockified dd {
	margin-bottom: 20px;
}

form.computing-apply table {
	margin-bottom: 30px;
	font-size: 1.2em;
}

form.computing-apply table td {
	text-align: center;
}

form.computing-apply table td.textb {
	text-align: left;
}

/* need to compensate above table selectors for all of the commonspot forms (ie. manage pages for custom FAQ elements) */
div.simform-faq form table {
	margin-bottom: 0;
	font-size: 1.0em;
}

div.simform-faq form table td {
	text-align: left;
}

form ul {
	padding: 10px 0;
	display: table; /*inline-block is perfect for this, but FireFox doesn't support it, so we go with a display of table*/
}

/* and then since IE doesn't know what to do with display: table, we need to use a filter to send it the inline-block display (http://www.pupinc.com/files/test/float.html)*/
*html form ul {
	display: inline-block;
}

/* original method using XBL hack from Bugzilla, https://bugzilla.mozilla.org/show_bug.cgi?id=9458
form ul {
	padding: 10px 0;
	display: inline-block;
	-moz-binding: url(http://bugzilla.mozilla.org/attachment.cgi?id=135946&action=view#inlineblock);
}
*/

form li {
	margin-right: 14px;
	padding-bottom: 4px;
	list-style-type: none;
	font-size: 1.2em;
}

#submit {
	padding: 2px 5px;
}

/* increasing the font size of the text for selected date/time in calendar fields */
#hours-manage span.CS_Form_Text {	
	padding: 0 2px 0 5px;
	font-size: 1.6em;
	font-weight: bold;
	background: #FFF;
}

/* and hiding the "clear" buttons that follow each date/time entry field to avoid clutter and mass hysteria */
#hours-manage input.CS_Form_Button {
	display: none;
}

#form-alert {
	padding: 10px;
	border: solid 1px #f00;
	background: #fdc;
}

#form-alert h4 {
	margin-top: 0;
	font-size: 1.8em;
}

#form-alert ul {
	color: #f00;
	list-style-type: none;
	font-size: 1.2em;
}

#thank-you {
	margin: 40px 0 240px 0;
	padding: 10px;
	border: solid 1px #054;
	background: #aed;
}

#thank-you h2 {
	margin-top: 0;
	font-size: 1.8em;
}

#thank-you p {
	color: #277;
	list-style-type: none;
	font-size: 1.2em;
}

/****************************************************************
table roll call
****************************************************************/

table td {
	padding: 5px 5px 0 5px;
	vertical-align: top;
}

table#staff-list, table#staff-list tr, table#staff-list th, table#staff-list td, table.equipment-reserves, table.equipment-reserves tr, table.equipment-reserves th, table.equipment-reserves td, table.rooms, table.rooms tr, table.rooms th, table.rooms td {
	border: 0;
	font-size: 1.1em;
	text-align: left;
}
	
table#staff-list, table.equipment-reserves {
	margin: 15px 0;
	caption-side: bottom;
}

table.rooms {
	border-top: solid 2px #d2c595;
	border-right: solid 2px #a98;
	border-bottom: solid 1px #a98;
	border-left: solid 1px #d2c595;
}

table.staff-view {
	font-size: 0.9em;
}

/*
table.rooms {
	margin-bottom: 4px;
}

table.rooms tr.row1, table.rooms tr.row1 td {
	background: transparent;
}
*/
	
table#staff-list th, table.equipment-reserves th {
	padding: 3px 15px 5px 15px;
	font-weight: bold;
	text-align: left;
	background: #630;
	color: #fff;
}
	
caption {
	margin: 0 0 15px 0;
	text-align: left;
	color: #888;
	font-size: 1.1em;
}

.tab.depth1 table {	
	table-layout:fixed; 
}

.tab.depth2 table {
	table-layout:fixed;
}

.tabBody table{
	table-layout:auto;
}

#content td{
	vertical-align: top;
	/* font-family: "Lucida Grande",Verdana,Lucida,Arial,Helvetica,sans-serif; */
	padding:0.2em;
}

.subtabs table{
	 width: 100%;
}

#tabContent table{
	width: 100%;
}

#tabContent td {
  padding:0.4em;
}