#mapRow{
  margin-top: 2%;
  background-color: #FFF;
}

body {
  width: 100%;
  height: 100%;
}

.state{
  fill: none;
  stroke: black;
  stroke-width: 0.7;
  stroke-linejoin: round;
  stroke-linecap: round;
 
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

#newTip{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

.state:hover{
  opacity: .5;
}



#rh-panel {
  background-color: rgba(50, 50, 50, 0.8);
  height: 95%;
  width: 0%;
  float:right;
  transition: width .5s;
  position: absolute;
  right:0;
  visibility: hidden;
}

#panel-icon {
  font-size: 20px;
  height: 10%;
  width: 6%;
  float:right;
  transition: width .5s;
  position: absolute;
  right:0;
  margin-top:1.4%;
}

#offPanel {
  color: #c0c0c0;
}

#onPanel {
  visibility: hidden;
}

#hamburgerIcon{
  font-size: 20px;
  color: white;
  display:block;
  margin-left: 30px;
  float:left;
  margin-left:4px;
  margin-top: 15px;
}

#hamburgerIcon:hover{
  cursor: pointer;
}

#areaTitle{
  margin: 0;
  margin-top:3px;
  color: #FF0;
  float:left;
  margin-left: 15px;
  font-size: 18pt;
}

.list{
  max-height: 150px; 
  overflow-y: auto;
  border: hidden;
  padding: 10px
}

#inner{
  margin: 5%;
  color: #FFF;
}

.label{
  color: black;
}

li{
  list-style: none;
}

.panel-collapse{
  max-height: 250px; 
  overflow-y: scroll;
  min-height: 150px;
}

#range{
  margin: 20px;
  margin-top: 40px;
}

html{
  max-width: 100%;
  overflow-x: hidden; 
}

.scroll1::-webkit-scrollbar {
  width: 5px;
}
 
.scroll1::-webkit-scrollbar-track {
  background: #d3d3d3;
}

.scroll1::-webkit-scrollbar-thumb{
  background:steelblue;
  border-radius: 20px;
}

.closed{
  text-align: center;
}

.row.topRow{
  text-align: center;
  margin: auto; 
  background-color: rgba(50, 50, 50, 0);
}


.rule{
  display: none;
}

.linked:hover{
  background-color: rgba(50, 150, 200, 1.0);
}

.counts{
 float: right;
 color: white;
}

.linked{
  margin-bottom: 0px;
}

.linked a{
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
}

.linked a:hover{
  text-decoration: underline;
  
}

.unlinked a{
  color: white;
  text-decoration: none;
}


.unlinked { 
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
}

.unlinked:hover{
  text-decoration: none;
}

.unlinked a:hover{
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
}

#bigCounts{
  margin-left: 7px;
  color: #FF0;
}

.normal{
  font-size: 14px;
  font-weight: bold;
}

#nowShowing{
  color: #212F3C;
}

.listy:hover{
   background-color: rgba(50, 150, 200, .7);
   cursor: pointer;
   color:white;
}
.listy{
  font-weight: 300;
  margin-bottom: 0px;
}
#clear:hover{
  cursor: pointer;
}
#USA:hover{
  opacity: 1;
}

.heading-travis{
  font-size: 18px;
  color: #FFF;
}
#usa-label{
  margin-top: .5em;
}

.long-name{
  color: white;
  display: inline-block;
  max-width: 70%;
}