/****************************************
 CSS for CALS Research Portals
 entity display styles
 
 Last Modified
 2008-08-12	mw542
 
 Original version
 2006-01-05 bdc34
*****************************************/


/************** Entity ***********/

.entity{
	margin-left:0.4em;
	margin-top:2em;
	font-size:1em;
	line-height:1.5em;
}

.entity h2{
	margin-left:0;
	display: inline;
	font-size:1.5em;
	padding-right: 10px;
}

.entity h3 {
    margin-bottom: 0;
    margin-top: 1.7em;
    font-size: 1.1em;
}

.propsCategory h3 {
    border-bottom: 1px solid #e0e0e0;
    font-size: 1em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    width: 68%;
}

.propsCategory h4 {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0;
}

em.moniker {
    color: #888;
}

.description{
 	line-height:2.7ex;
 	margin-left:0em;
 	margin-right:0em;
/*  margin-top:1.2ex;*/
    margin-top: 2em;
 	margin-bottom:1.2ex; 
 	padding-right:1.5em;
 	clear: both;
}

.description ul{
	font-weight:normal;
	margin-top:1ex;
	list-style-type:square;
/*  margin-left:1.2em;*/
	padding-left:1.3em;
}

.description ul li{
	font-weight:normal;
	margin-top:0.4ex;
	margin-bottom:0.4ex;
	line-height:2.7ex;
}

.description p {
	font-weight:normal;
	margin-top:1ex;
	margin-bottom:1ex;
	line-height:2.7ex;
}

.qualifier{
    font-style: italic;
}

.citation {
	font-size: 0.8em;
	line-height:2.5ex;
	margin-top:0.4ex;
	margin-left:0em;
	width:60%;
}

p.caption {
	color:#AAA;
	background-color:inherit;
	font-style:italic;
}

/****** Entity Property Lists *********/

ul.externalLinks {
    list-style-type: none;
    padding-left: 0;
    line-height: 1em;
    margin-bottom: 2em;
}

ul.externalLinks li {
    display: inline;
    padding-left: 6px;
    margin-left: 3px;
    border-left: 1px solid #999;
}

ul.externalLinks li.first {
    margin-left: 0;
    padding-left: 0;
    border: 0;
}

ul.externalLinks span {
    display: none;
}

ul.properties {
	list-style-type:none;
	margin-left:0;
	padding-left:0;
	margin-top: .3em;
	margin-bottom: 0;
}

ul.properties li{
/*  margin-top:1.2ex;*/
	margin-top:0;
/*  margin-bottom:1em;*/
	margin-bottom: .5em;
	margin-left:0em;
/*  line-height:2.5ex;*/
    line-height: 1.2em;
}

ul.propertyLinks{
/*  list-style-type:square;*/
	list-style-type: none;
	margin-top:0.25ex;
	margin-bottom:0.3ex;
/*  padding-top:0.2em;*/
/*  margin-left:1.2em;*/
/*  padding-left:1.2em;*/
	padding-left: 0;
}

ul.propertyLinks li{
	font-size:1em; 
/*  margin-top:0.4ex;*/
    margin-top: 0;
/*  margin-bottom:0.4ex;*/
    margin-bottom: .5em;
/*  line-height:2.7ex;*/
    line-height: 1.2em;
}

div.datatypeProperties p,
div.datatypeProperties ul {
    margin-top: 0;
}

div.datatypeProperties ul,
div.datatypeProperties ol {
    padding-left: 1.4em;
}

ul.datatypeProperties {
	list-style-type:none;
	margin-left:0;
	padding-left:0;
}

ul.datatypeProperties li{
	margin-top:1.2ex;
	margin-bottom:0.8ex;
	margin-left:0em;
	line-height:2.5ex;
}

ul.datatypeProperties ul {
	margin-top:1ex;
	list-style-type:square;
/*  margin-left:1.2em;*/
	margin-left: 0;
	padding-left:1.2em;
}

ul.datatypeProperties ul li{
	margin-top:0.4ex;
	margin-bottom:0.4ex;
	line-height:2.7ex;
}

ul.datatypeProperties li p {
	margin-top:0.4ex;
	margin-bottom:0.4ex;
	line-height:2.7ex;
}

.indent {
	margin-top:1ex;
	margin-left:1.2em;
	margin-bottom:1ex;
}

/************ servlet buttons **************************/

.servletButton{
	margin-top:2.5ex;
	margin-bottom:2.5ex;
}

.servletButton input{
	background-color:#FAFAD2;
	border-color:#DDCCCC;
	color:#B31B1B;
	font-size:0.9em;
	line-height:120%;
}

/************ toggle-related ***************************/

.entityMoreSpan {
	font-size:0.9em;
	color: #B31B1B;
	font-weight: bold;
}

.entityMoreSpan img {
	position:relative; top:+0.3ex;
	margin-right:0.2em;
}

ul div.navlinkblock {
	/* this is to indent the toggle icon  */
	position:relative; top:+0.1ex;
	margin-left: 1.2em;	
	margin-top:0.5ex;
	margin-bottom:0ex;
	height:2.2ex;
	padding-top:0.1em;
	padding-bottom:0.1em;
}

/************ property group buttons ***************************/

ul#profileCats {
  clear: left;
  padding-left: 0;
}

/* Filter to stop IE6 jump on hover -- filter required because otherwise Safari does not clear left */
* html ul#profileCats {
    display: inline-block;
}

ul#profileCats li {
	display: inline;
	font-size: .85em;
	line-height: 3.3em;
	text-transform: uppercase;
}

ul#profileCats li a {
    white-space: nowrap;
}

ul#profileCats li a:link, ul#profileCats li a:visited {
	margin-right: 2px;
	padding: 6px 6px 4px;
	border: none;
	font-weight: bold;
	line-height: 2.7em;
/*  color: #a7b9bd;*/
    color: #ddd;
/*  background: #f2f6f7;*/
	background: #999;
/*  border: 1px solid #edf1f2;*/
}

ul#profileCats li a:hover {
/*  color: #f2f6f7;*/
    color: #fff;
/*  background: #a7b9bd;*/
	background: #B31B1B;
	text-decoration: none;
}

ul#profileCats li a:link#currentCat, ul#profileCats li a:visited#currentCat {
	color: #fff;
/*  background: #2e515c;*/
	background: #B31B1B;
/*  border-color: #000;*/
}

ul.profileLinks li a:link {
/*  color: #b31b1b;*/
}
