/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:		VIVO basic print styles
Authors:	mw542@cornell.edu
Updated:	December 2, 2008
*/


body {
  line-height: 1.3;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;   
  color:#000;
  background: none;
  font-size: 10pt;
}

/* Hide unnecessary stuff
-------------------------------------------------------------- */

span.entityMoreSpan,
div#header, 
div#menu,
div#cu-identity,
div#dashboard,
div#dashboard img {
    display: none !important;
}

div#wrap div#contentwrap {
    background: none !important;
}


/* Show hidden content
-------------------------------------------------------------- */

#type1 {
    display: block !important; /* statements that are normally hidden by togglers */
}

/* Text
-------------------------------------------------------------- */
h1{font-size:19pt;}
h2{font-size:17pt;}
h3{font-size:14pt;}
h4,h5,h6{font-size:12pt;}

h1,h2,h3,h4,h5,h6 { font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; clear: left; }

div.propsCategory h3 {
    text-transform: uppercase !important;
    border-bottom: 1px solid #000;
    margin-top: 2em;
}

/* Links and Images
-------------------------------------------------------------- */

a:link, a:visited {
  background: transparent;
  font-weight:700;
  text-decoration: underline;
}


img { clear: left; float:left; margin:0 1.5em 1.5em 0; }
a img { border:none; }
