/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:      Life Sciences Graduate Portal screen styles
Authors:     nac26@cornell.edu, mw542@cornell.edu
Updated:    February 14, 2008
*/
html {
/*    height: 100%;    */
}
body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 63.125%;     /* translate 1.0em to 10px, 1.5em to 15px, etc. */
    text-align: center;
    color: #333;
    background: #39393d url(../images/layout/bg_body.gif) repeat-x left top;
    height: 100%;
}

#bodyOverlay {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: transparent url(../images/layout/bg_bodyoverlay.jpg) no-repeat center top;
}

#wrap {
    margin: 0 auto;
    text-align: left;
    width: 85%;
    min-width: 917px;
/*  width: 917px;*/
}

#header {
    padding: 6px 0;
    background: transparent url(../images/layout/bg_header.jpg) no-repeat 98% 100%;
    width: 98%;
}

#contentWrap {
    float: left;
    display: inline;
    width: 98%;
    min-width: 640px;
    margin-bottom: 4px;
    padding-right: 16px;
    background: transparent url(../images/layout/bg_content.png) left top !important;
    background: #193335 url(../images/layout/bg_content.gif) left top; /* Delivered to browsers without PNG support */
    background-color: #193335;
}

#content.narrow {
    width: 54%;
    padding-left: 32px;
    padding-right: 0;
}

#content.gradfields {
    padding-left: 32px;
    padding-right: 0;
}

#content {
    float: left;
    display: inline;
    width: 64%;
/*    min-width: 600px;*/
    padding: 5px 15px 22px 18px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 1.2em;
    color: #efecca;
}

#content.fullPage {
    width: 98%;
}

#content.faculty {
    min-height: 500px;
}


#sidebar {
    float: right;
    display: inline-block;
    width: 270px;
    font-size: 1.2em;
    margin-bottom: 20px;
/*  padding-top: 20px;*/
/*  width: 240px;*/
/*  text-align: center;*/
}

#sidebar.expanded {
    width: 39%;
}

#leftColumn {
    float: left;
    width: 48%;
/*    border: 1px solid green;*/
}

#rightColumn {
    float: right;
    width: 48%;
/*    border: 1px solid red;*/
}

#departmentsInField, #facultyInField {
    width: 48%;
/*    padding: 12px 20px;*/
    margin-top: 1.5em;
    margin-bottom: 30px;
/*    background: transparent url(../images/layout/bg_sidebar-brown.png) top left !important;*/
/*    background: url(../images/layout/bg_sidebar-brown.gif) top left;*/
}

#researchInField {
    margin-top: 7em;
    margin-bottom: 30px;
    margin-right: 12px;
    padding: 14px 20px;
    background: #224b4c;
/*    background: transparent url(../images/layout/bg_sidebar.png) top left !important;*/
/*    background: url(../images/layout/bg_sidebar.gif) top left;*/
}

#footer {
    margin-bottom: 10px;
    width: 99%;
    clear: both;
    color: #fff;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

/****************************************************************
/header roll call
****************************************************************/
#header {
    position: relative;
}

#header h1 {
    margin-left: 15px;
    font-size: 3.4em;
    font-family: "Myriad Pro", Helvetica, Arial, Verdana, Sans-serif;
    font-weight: bold;
/*    letter-spacing: -.02em;*/
    color: #69bfde;
}

#header ul {
    margin-top: 2.4em;
}

#header ul li {
    display: inline;
/*  margin: 10px 0;*/
/*  margin-left: 1px;*/
/*  padding: 6px 5px 6px 5px;*/
    font-size: 1.3em;
/*  border: solid 1px #f81;*/
}

#header ul li a:link, #header ul li a:visited {
    padding: 6px 8px 6px 8px;
    color: #444;
    background: #191919;
    border: none;
}

#header ul li a:hover {
    color: #a7a37e;
}

#header ul li a:link.currentTab, #header ul a:visited.currentTab {
    padding: 6px 8px 7px 8px;
    color: #fff;
/*  background: #031d1d;*/
/*  background: #002f2f;*/
/*  background: #021C1C;*/
    background: #000 url(../images/layout/bg_content.png) left top !important;
    background: #021C1C url(../images/layout/bg_content.gif) left top; /* Delivered to browsers without PNG support */
}

/****************************************************************
/content roll call
****************************************************************/

#content.fullPage h2.groupLabel {
    font-size: 1.5em;   /* Scaling down group names to fit two-column layout */
    line-height: 1em;
    padding-top: 20px;
    padding-left: 45px;
    font-weight: bold;
}

#content.gradfields h2.groupLabel {
    margin-left: -18px;   /* Pulling icon closer to edge of page */
}

.fieldLabel {
    color: #fff; /* For field names that aren't links */
    font-weight: bold;
    padding-left: 6px;
}

.fieldRelationLabel {
    padding: 5px 13px 3px 13px;
    background: #224B4C;
/*    background: transparent url(../images/layout/bg_sidebar-brown.png) top left !important;*/
/*    background: url(../images/layout/bg_sidebar-brown.gif) top left;*/
}

#apply {
    width: 94%;
    background: #046380;
    padding: 15px;
    margin-top: 20px;
    position: relative;
}

#apply p { 
    width: 80%;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0;
}

#applyButton { 
    position: absolute;
    top: 50%;
    right: 7%;
    border: 0;
    margin-top: -15px;
}

.initial {
    margin-top: 1em;
}

/****************************************************************
/sidebar roll call
****************************************************************/

#sidebar h2 {
    margin-bottom: 10px;
    color: #046380;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

div#search h2 {
    color: #fff;
}

#departments h2 {
    color: #A7A37E;
}

#news, #search, #seminars {
    margin-top: 20px;
    padding: 12px 0px 8px 10px;
    color: #000;
    background: #efecca;
    overflow: auto;
    text-align: right;
}

#news li, #seminars li, #search {
    text-align: left;
}

#search {
    background: #a7a37e;
}

#testbox {
    width: 300px;
/*    height: 100px;*/
    background: #ff0000;
}

#departments {
    margin-top: 20px;
    padding: 10px;
/*    background: #046380;*/
}

#sidebar.faculty {
    margin-top: 20px;
}

/****************************************************************
/footer roll call
****************************************************************/
#footer p.siteFeedback {
    float: right;
    margin: 0;
}

/****************************************************************
/basics roll call
****************************************************************/

p {
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: left;
    margin: 1em 0;
}

h1, h2, h3, h4 {
    font-family: Helvetica, Arial, Verdana, Sans-serif;
    font-weight: normal;
    color: #a7a37e; /* Gold */
}

h1 {
    margin: 10px 15px;
    font-size: 3.4em;
    letter-spacing: -.02em;
    color: #69bfde; /* Light Blue */
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.5em;
/*    font-weight: bold;*/
}

h4 {
    font-size: 1.5em;
    line-height: 1.5em;
/*    font-weight: bold;*/
}

li.clean {
    margin: 0;
    padding: 0;
}

/****************************************************************
/image roll call
****************************************************************/

#news ul li img {
    width: 110px;
    display: block;
    margin-bottom: 7px;
    border: 1px solid #c9c7a9;
}

/****************************************************************
/anchor roll call
****************************************************************/
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #a9a9a9;
}

a:hover {
    color: #69bfde;
}

a:active {
    color: #ebe386;
}

li a, #researchInField li a {  /* link underlining */
    border-bottom: 1px solid #4a7172;
}

h2.groupLabel, h2.groupLabel a:link, h2.groupLabel a:visited {
    line-height: 1.3em;
    color: #fff;
    font-weight: bold;
}

#news a, #seminars a {
    font-size: 1em;
/*    font-weight: bold;*/
}

#news a:link, #news a:visited, #seminars a:link, #seminars a:visited {
    color: #046380;
    border-bottom: solid 1px #046380;
    text-decoration: none;
}

#news a:hover, #seminars a:hover {
    color: #2ca6d2;
}

#sidebar a.moreLink {
    display: block;
    clear: both;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 10px;
}

#sidebar a:link.moreLink, #sidebar a:visited.moreLink {
    color: #b9121b;
/*    border-bottom: 1px solid #b9121b;*/
    border-bottom: 0;
    font-weight: bold;
}

#sidebar a:hover.moreLink, #sidebar a:active.moreLink {
    color: red;
/*    border-bottom: 1px solid red;*/
    border-bottom: 0;
    font-weight: bold;
    text-decoration: underline;
}

#footer a:link, #footer a:visited {
    color: #bacec5;
    border-color: #bacec5;
}

#footer a:hover {
    color: #fff;
    border-color: #fff;
}

/****************************************************************
/list roll call
****************************************************************/
ul li {
    list-style-type: none;
    background: url(../images/layout/bg_li_bullet.gif) no-repeat 4px 5px;
}

ul.groupings {
  margin: 20px 0;
}

ul.groupings li {
    margin-bottom: -13px; /* Tightening the space between group items */
    font-size: 1.7em;
    font-family: Helvetica, Arial, Verdana, Sans-serif;
    font-weight: bold;
    line-height: 1.3em;
}

ul.groupings li a:link, ul.groupings li a:visited {
    color: #fff;
    border: 0;
}

ul.groupings li a:hover {
    color: #69bfde;
    border: 0;
}

ul.fields {
    margin: .4em 0 1.5em 0;
}

ul.fields li {
    margin-bottom: 4px;
}

ul.fields li a {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3em;
/*    border-bottom: 1px solid #666;*/
}

.fieldlistIndent {
    padding-left: 12em; /* Indents list of fields on fields.jsp to align with title */
}

/* Fix for IE6 3-pixel indent bug, described at: http://www.positioniseverything.net/explorer/threepxtest.html */ 
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html ul.fieldlistIndent {  height: 1%;  margin: 0;  padding: .4em 0 0 1em;  }
/* End hide from IE5/mac */


#leftColumn ul, #rightColumn ul {
    margin: -1em 0 2em 0;
}

#leftColumn li, #rightColumn li {
    padding-left: 46px;
}

#departmentsInField ul, #facultyInField ul {
    padding: 9px 14px;
}

#departmentsInField ul li, #facultyInField ul li, #researchInField ul li {
    margin-bottom: 4px;
}

#sidebar ul.groupings {
    padding: 12px 6px 12px 12px;
    background: #183F40;
}

#sidebar ul.groupings li {
    padding-left: 27px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3em;
}

#news ul, #seminars ul {
    float: left;
    margin-bottom: 10px;
}

#news li {
    float: left;
    display: block;
    width: 110px;
    padding-right: 20px;
}

#news li.clean {
    margin: 0;
    padding: 0;
}


/* ---------- Icons for main groupings ---------- */
/* Note: positioning rules had to be declared for each class because they did not work when grouped */
.individual31915 {    /* Applied Biology */
    background: url(../images/icons/icon-applied_bio.png) no-repeat left top !important; 
    background: url(../images/icons/icon-applied_bio.gif) no-repeat left top; } 
    
.individual31919 {    /* Biomedical Sciences */
    background: url(../images/icons/icon-biomed.png) no-repeat left top !important;
    background: url(../images/icons/icon-biomed.gif) no-repeat left top; }
    
.individual31918 {    /* Ecology, Evolution, Integrative Biology */
    background: url(../images/icons/icon-ecology.png) no-repeat left top !important;
    background: url(../images/icons/icon-ecology.gif) no-repeat left top; }
    
.individual31917 {    /* Genetics, Genomics, Bioinformatics */
    background: url(../images/icons/icon-genetics.png) no-repeat left top !important;
    background: url(../images/icons/icon-genetics.gif) no-repeat left top; }
    
.individual31916 {    /* Molecular, Cellular Biology */
    background: url(../images/icons/icon-molecbio.png) no-repeat left top !important;
    background: url(../images/icons/icon-molecbio.gif) no-repeat left top; }
    
.individual31920 {    /* Physical, Chemical, Computational Biology */
    background: url(../images/icons/icon-physchem.png) no-repeat left top !important;  
    background: url(../images/icons/icon-physchem.gif) no-repeat left top; }

.individual31915, .individual31919, .individual31918, .individual31917, .individual31916, .individual31920 {
    padding: 17px 0 20px 45px;
}

/* ---------- Small icons for groupings displayed in sidebar ---------- */
#sidebar .individual31915 {    /* Applied Biology */
    background: url(../images/icons/small/smallicon-applied_bio.png) no-repeat left top !important; 
    background: url(../images/icons/small/smallicon-applied_bio.gif) no-repeat left top; } 
    
#sidebar .individual31919 {    /* Biomedical Sciences */
    background: url(../images/icons/small/smallicon-biomed.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-biomed.gif) no-repeat left top; }
    
#sidebar .individual31918 {    /* Ecology, Evolution, Integrative Biology */
    background: url(../images/icons/small/smallicon-ecology.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-ecology.gif) no-repeat left top; }
    
#sidebar .individual31917 {    /* Genetics, Genomics, Bioinformatics */
    background: url(../images/icons/small/smallicon-genetics.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-genetics.gif) no-repeat left top; }
    
#sidebar .individual31916 {    /* Molecular, Cellular Biology */
    background: url(../images/icons/small/smallicon-molecbio.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-molecbio.gif) no-repeat left top; }
    
#sidebar .individual31920 {    /* Physical, Chemical, Computational Biology */
    background: url(../images/icons/small/smallicon-physchem.png) no-repeat left top !important;  
    background: url(../images/icons/small/smallicon-physchem.gif) no-repeat left top; }

#sidebar .individual31915,  #sidebar .individual31919, #sidebar .individual31918, #sidebar .individual31917, #sidebar .individual31916, #sidebar .individual31920 {
    padding: 10px 0 20px 47px;
}


/****************************************************************
/form roll call
****************************************************************/
#findResearchInput {
    height: 18px;
    width: 150px;
    vertical-align: bottom;
    font-size: 1.2em;
    border: 1px solid #0D708F;
    padding: 3px 3px 1px 3px;
    margin: 0 4px 0 0;
}

#findResearchButton {
    width: 68px;
    vertical-align: bottom;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

/****************************************************************
/table roll call
****************************************************************/

