/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:		VIVO entity styles
Author:		nac26@cornell.edu
Updated:	May 23, 2008
*/

/*temporary file to keep Safari from complaining...only needed until we clean up the themes */