.kwcloud-selector #legendDiv {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

#selectedWordCloudLabel {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 8px;
}

.col-md-8 #vis {
   height: 600px;
   margin-bottom: 20px;
}
 