/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:      Life Sciences Graduate Portal screen styles
Author:     mw542@cornell.edu
Updated:    January 29, 2009
*/


/****************************************************************
Global Layout
****************************************************************/

html {
    height: 100%;    /* Allow background overlay to extend to bottom of window */
    font-size: 100%; /* Preventing IE from messing up keyword steps for font sizes */
}

body {
    height: 100%;
    color: #fff;
    background: #494949 url(../images/layout/bg_body2.png) repeat-x left top;
/*    font-size: 87.5%; */
    /* setting the base to 14px instead of blueprint's 12px */
}

#bodyOverlay {
    margin: 0 auto;
    width: 100%;
/*    min-height: 100%;*/
    height: auto !important;
    height: 100%;
/*    font-size: 1em;*/
/*    margin-bottom: -6em;*/
    margin-bottom: -70px;
    background: transparent url(../images/layout/bg_bodyoverlay.png) 90% 0% !important;
    background-image: none;
}

#wrap {
    width: 954px; /* 950 + 4, accounting for 2px borders on contentWrap */
    text-align: left;
}

#header {
    float:left;
    width: 100%;
    padding-top: 16px;
    background: transparent url(../images/layout/bg_header.jpg) no-repeat right bottom;
}

#contentWrap {
    float: left;
    display: inline; /* fixes IE double floated margin bug */
    width: 930px;
/*    min-width: 910px;*/
    padding-bottom: 28px;
    padding-left: 20px;
    border: 2px solid #143737;
    border-top: 0;
    background: transparent url(../images/layout/bg_content.png) left top !important;
    background: #002e2f url(../images/layout/bg_content.gif) repeat-x left top;
}

#content {
/*    display: inline;*/
/*    margin-left: 20px;*/
    padding: 36px 0 30px 0;
    min-height: 500px;
/*    font-size: 1.167em;*/
/*    line-height: 1.286em;*/
}

.left {float: left;}
.right {float: right;}

#swapBox,
#listBox {display:none;} /* these are divs used for JS to temporarily hold content*/

/****************************************************************
Global Properties
****************************************************************/

/* FONT SIZE TRANSFORMATIONS 

12px (base) to 14px: 1.167em
14px down to 12px: 0.857em


*/


h1, h2, h3, h4, h5, h6, .heading {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

h1 {font-size:2.75em;}

#content h2 {
    font-size:1.5em; 
    margin-bottom:1em;
}

#overview h2 {font-size: 1.833em;}

#sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6, #sidebar p, #sidebar .heading {color: #a3b4b5;}

#sidebar h2 {
    font-size: 1.167em; /* 12px to 14px */
    line-height:1.25;
    margin-bottom:1.25em;
}

h2.label p {display:inline;} /* some entity label properties contain paragraph tags */

a { 
/*    color: #eae6a1;*/
    color: #f0ec9c;
    text-decoration: none;
/*    border-bottom: 1px dotted #7c7b62;*/
}

a:visited {color:#bfbb73;}

a:focus, a:hover {color: #fffcc9;}

/*a:hover {text-decoration:underline;}*/

a#applyButton, #indexNav a, #pagination a {text-decoration: none;}

#content a {
    padding-bottom: 1px;
/*    border-bottom: 1px dotted #426566;*/
}

/*#content a:hover { border-bottom: 1px dotted #62888a; }*/

ul.fields {margin-left: 0;}

ul.fields li {list-style-type: none;}

.fields a {
    color: #8ad6f1;
/*    border-bottom: 1px dotted #547f8f;*/
}

.fields a:visited {color:#489fb5;}

.fields a:hover {
    color: #bfeeff;
/*    color: #8ad6f1;*/
/*    border-bottom: 1px dotted #caf1ff;*/
}

ul.groupings li {
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    list-style-type: none;
    margin-bottom: -1em;
}

div#overview {font-size: 1.167em;}

a#applyButton {
    float: left;
    display: block;
    width: 109px;
    height: 33px;
    background: url(../images/layout/button-apply_normal.gif) center center no-repeat;
    line-height: 31px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #007288;
}

a#applyButton:hover {color: #109fbb;}

a#applyButton:focus {background: url(../images/layout/button-apply_normal.gif) center center no-repeat;}

a#applyButton:active {
    background: url(../images/layout/button-apply_pressed.gif) center center no-repeat;
    line-height: 34px;
}

a#applyButton:focus {outline: none;}

table {width: auto;} /* resetting Blueprint's 100% */

thead th {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    border-bottom: 2px solid #2e4849;
    padding: 3px 0;
    background: none; /* Blueprint is adding background colors */
}

tbody td {
    border-bottom: 1px dotted #2e4849;
    padding: 8px 1px;
}

tfoot td {padding: 8px 0;}

tr.first td {padding-top: 16px;}

tr.last td { 
    border-bottom: 2px solid #2e4849; 
    padding-bottom: 16px;
}

td {
    color: #a3b4b5;
    vertical-align: top;
}

table.index tbody td {padding: 5px 2px;}

table.index tr:hover {background-color: #204647;}

td.fields {
    font-weight: bold;
    font-size: 1.167em;
    width: 360px;
}

.section {
    clear: both;
    padding-top: 40px;
}

.bump {
    clear: left;
    padding-top: 20px;
}

#content div.resourceBar,
#fields div#areaList {float:right;} /* overriding blueprint floats */

.resourceBar {
    padding-top: 25px;
/*    margin-left: 20px;*/
    background: url(../images/layout/bg_sidebar_right-top.gif) top left no-repeat;
}

.resourceBar h3 {
    font-size: 1.167em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0.5em;
}

.resourceBar li {list-style-type: none;}

.resourceBar ul.externalLinks {margin: 0 20px;}

.resourceBar ul.externalLinks li {
    clear: left;
/*    background: #365253;*/
    padding-top: 10px;
}

.resourceBar ul.externalLinks li a {
    display: block;
    float: left;
    background: #365253;
    padding-right: 18px;
}

.resourceBar  ul.externalLinks li a:hover {background: #406466;}

.resourceBar  ul.externalLinks li span {
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1.3em;
}
    
.resourceBar-item {
    clear: left;
    padding: 20px 0 0 0;
    margin: 0 20px;
}

.resourceBar-item h3 {margin: 0 0 .5em 0;}

.resourceBar ul, .resourceBar-item p {margin: 0}

.separator { /* this adds a top rule as a separator */
    display: block;
    clear: both;
    padding-top: 20px;
    background: url(../images/layout/bg_sidebar_rule.gif) top center repeat-x;
}

.last-item {padding-bottom: 0;}

.bottom { /* this div controls the bottom cap on the sidebar */
    clear: left;
    background: url(../images/layout/bg_sidebar_right-bottom.gif) bottom left no-repeat;
/*    margin-bottom: -12px;*/
    position: relative;
    bottom: -12px;
    height: 20px;
}

.resourceBar #screenshot {padding:10px 0 0 20px;}

.facultyList  {
    float: left;
    margin: 0 10px 0 0;
}

.facultyList li {
    color: #A3B4B5;
    display: block;
    margin-bottom: 14px; /*Spacing between items*/
    line-height: 1.25em;
    list-style-type: none;
    width: 260px;
    height: 50px;
    float: left;
    margin-right: 10px;
    clear: none;
    position: relative;
}

.facultyList li a {font-weight: bold;}

.facultyList li a.img,
.facultyList li span.img {
    border: 1px solid #A3B4B5;
    background: #000;
    display: block;
    height: 43px;
    width: 43px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.facultyList li img {
    width: 44px;
    display: inline; /* Avoiding IE float-margin bugs */
    border: 0;
    margin: 0;
    padding:0;
    float:none;
}

.facultyList li strong {display: inline;}

.facultyList li em {
    display: block;
    font-size: 0.917em;
    line-height: 1.2em;
}

.facultyList strong,
.facultyList em { margin-left: 54px; }

.fieldList {margin: 0;}

.fieldList h4 {
    clear: left;
    padding-top: .6em;
    margin-bottom: .5em;
    font-size: 1.333em;
/*    font-size: 1.167em;*/
}

.fieldList li {margin-bottom: 5px;}

#scrollBox {
    height: 35em;
    background: #365253;
    overflow: hidden;
    overflow-y: auto; 
    overflow-x: hidden; 
    margin-top: 0;
    margin-right: 20px;
    padding: 10px 0;
}

a.toggle {
/*    font-weight: bold;*/
    text-decoration: underline;
    color: #a3b4b5;
}

a.toggle:hover, a.toggle:active { color: #C6E2E3; }

#scrollBox a {
    display: block;
    padding: 4px 20px;
    color:#fff;
/*    text-indent: -2px;*/
    line-height: 1.1em;
}

#scrollBox a:hover {background:#4A5B5B;}

#scrollBox a.selected,
#scrollBox a.selected:hover {background:#7C697D;}
/*#scrollBox a:hover  {background:#e3a8e5;}*/

#scrollBox ul {margin: 0;}

#scrollBox li {
    list-style-type: none;
    display:inline;
/*    margin-bottom: .4em;*/
}

#statusBox {
    padding: 12px 20px 10px 18px;
/*    margin-bottom: 30px;*/
/*    background: #1A3E3F;*/
    background: #183A3B;
    color: #a3b4b5;
    border: 1px solid #365253;
    border-bottom: 0;
}

#statusBox a.toggle {font-size: 0.917em;}

#statusBox p {margin: 0 0 .3em 0;}

#statusBox li {
    list-style-type: none;
    line-height: 1.2em;
    margin-bottom: .4em;
}

#statusBox.empty {
    display:none;
/*    background: none;*/
/*    border: 0;*/
}

#statusBox ul.selectedAreas {margin: .1em 0 0 0;}

#statusBox ul.selectedAreas strong {color: #e3a8e5;}


#toggleBox {
    clear: left;
    color: #a3b4b5;
    background: #1A3E3F;
}

#toggleBox p {
    margin: 20px 0 0 0;
    padding: 10px;
}

.headingBox {
    clear: left;
    height: 2em;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #2e4849;
}

.headingBox h2,
.headingBox h3 {
    float: left;
    line-height: 1.5em;
}

.headingBox p { 
    margin-top: 0.5em;
    margin-bottom: 0;
    float: right;
    color: #a3b4b5;
/*    font-size: 0.917em;*/
}


.facultyList li.selected {background: #7C697D;}

.deptList {
    color: #A3B4B5;
    list-style-type: none;
    font-size: 1.167em; /* 12px to 14px */
    margin-left: 0;
}

.deptList em {font-size: 0.857em;} /* 14px back down to 12px */

img.profile {
    float: left;
    border: 1px solid #fff;
    margin-right: 16px;
    width: 100px;
}

.researchBox {
    margin-top: 3em;
    background: #224647;
    position: relative;
}

.researchBox h3 {
    padding: 10px 16px 8px 16px;
    background: #365253;
    color: #a3b4b5;
    font-size: 1.333em;
}

.researchBox ul {margin: 0;}

.researchBox ul li {
/*    list-style-image: url(../images/layout/bullet_graysquare.gif);*/
    list-style-type: none;
    line-height: 1.3em;
/*    list-style-position: outside;*/
/*    background: url(../images/layout/bullet_grayarrow.gif) top left no-repeat;*/
/*    padding-left: 10px;*/
    margin-bottom: 1em;
}

.loading {
    padding: 50px 100px;
    text-align: center;
}

.undo {
/*    font-weight: bold;*/
    text-decoration: underline;
}


/****************************************************************
Page-specific Properties      (usually in order of appearance)
****************************************************************/

/*________ HOME PAGE ________*/

#home #contentWrap {padding-bottom: 0;}

#home #sidebar {padding-left: 20px;}

#home #sidebar div {
    padding: 36px 20px 36px 20px;
    margin-bottom: 4px;
    background: #1a3e3f;
}

#home div#helpfulPages {
    min-height: 310px;
    margin-bottom: 0;
}

#home div#helpfulPages ul {margin-left: 0;}

#home #helpfulPages li {
    list-style-type: none;
    line-height: 1.8em;
    margin-left: 0;
}

#home #content {padding-bottom: 10px;}

#home #content p {font-size: 1.167em;}

#home ul.groupings { 
    font-size: 1.5em;
    margin-left: 18px; 
}

p#fullList {margin: 10px 0 0 65px;}

p#fullList a {font-weight: bold;}

#applyBox {
    float: left;
    height: 54px;
    line-height: 54px;
    background: url(../images/layout/bg_apply_home_rounded.gif) center left no-repeat !important;
    background: url(../images/layout/bg_apply_home_rounded_solid.gif) center left no-repeat; /* this one gets delivered to IE, which has a different color background */
    padding-left: 24px;
    margin: 40px 0 0 0;
}

#applyBox strong {float: left;}

#home #applyButton {
    margin: 10px 0 0 35px;
    border: 0;
}

#home select {
    width: 190px;
}

/*________ FIELDS INDEX ________*/


#fieldsindex h3 {
    line-height: 1.5em;
    margin-bottom: 0;
    text-transform: lowercase;
}

#fieldsindex ul.fields {
    font-size: 1.25em;
    margin: -1em 0 50px 45px;
}

#fieldsindex ul.ungrouped {
    margin: 0 20px 0 2px;
    padding-bottom: 30px;
    width: 400px;
    float: left;
}

/*________ FIELDS ________*/

#fields h2 {color:#8ad6f1;}

#fields h2 span {
    font-size: .727em; /* back down to 16px */
    font-weight: normal;
    display: block;
}

#fields p.apply {margin: 1.5em 0;}

#fields p.apply strong {font-style:normal;}

#fields #applyButton {margin-right: 10px;}

#fields p.apply span {
/*    float: left;*/
/*    margin-top: 0.55em;*/
    padding-top: 2px;
    font-size: 0.857em;
    line-height: 1.4em;
    font-style: italic;
}

#fields #meetTheFaculty h3,
#fields #departments h3 {
    padding-bottom: 5px;
    border-bottom: 3px solid #224647;
}

#fields #areaList {
    background: #224647;
    margin-top: -1.5em;
/*    margin-left: 10px;*/
/*    margin-left: 60px;*/
    background: url(../images/layout/bg_sidebar_right-middle.gif) top left repeat-y;
}

#fields #areaList h3 {
    border: 0;
    color: #a3b4b5;
    margin: 20px 20px 5px 20px;
}

#fields #areaList em {
    display: block;
    color: #a3b4b5;
    margin: 0 20px 10px 20px;
}

#fields .facultyList li {width: 280px;}

#fields #statusBox {
    background: none;
    border: 0;
    padding: 0;
    margin-bottom: 3em;
}

/*________ DEPARTMENTS ________*/

#departments h2 {margin-left: -2px;}

#departments #fields h3 {font-size: 1.333em;}

#departments ul.fields {
    font-weight: bold;
    font-size: 1.167em;
}

#departments .resourceBar img {border: 2px solid #667879;}

#departments .resourceBar .last-item {padding: 0 0 20px 20px;}

#departments #overview {font-size: 1em;} /* overriding the global rule */

#departments .facultyList a.external {
    color: #fff;
    font-weight: normal;
}

#departments .facultyList li {
    height: 30px;
    margin-bottom: 10px;
}

#departments .facultyList img {width: 30px;}

#departments .facultyList .img {
    width: 30px;
    height: 29px;
}

#departments .facultyList strong,
#departments .facultyList span {
    margin-left: 40px;
    padding-top: 3px;
}

#departments .facultyList span.img {
    margin: 0;
    padding: 0;
}

/*________ AREAS ________*/

#areas h2 {
    font-size: 1.833em;
    margin-bottom: 2em;
}

#areas h2.big {margin-bottom: 0;}

#areas h2 span {text-transform: lowercase;}

#areas h3 {font-size: 1.333em;}
#areas #content ul.groupings {font-size: 1.167em;}

#areas #content p a {font-weight: bold;}

#areas table {margin: -20px 20px 60px 90px;}

#areas table.complete {margin-left: 0;}

#areas .col-1 {width: 340px;}
#areas .col-2 {width: 160px;}
#areas .col-3 {width: auto;}

#areas ul.groupings {margin-left: 0;}

/*________ FACULTY INDEX ________*/

#faculty #indexNav {
    margin: 2em 0;
    height: 2em; /* Explicitly set because some browsers will not clear with margins */
    font-size: 1.2em;
}

#faculty #indexNav a {
    float: left;
    padding:  3px 5px 2px 5px;
    margin-right: 2px;
    background: #204647;
    border: 1px solid transparent !important;
    border: 1px solid #002f2f; /* IE6 can't deal handle the transparent property */
    font-weight: bold;
}

#faculty #indexNav a:hover,
#faculty #indexNav a.selected {border: 1px solid #fff !important; text-decoration:none;}

#faculty .col-2 {width: 450px;}

/*________ FACULTY ________*/

#faculty h2.label {
    padding-top: 0.7em;
    margin: 0;
}

#faculty #overview h3 {
    font-size: 1.143em;
    margin: 0 0 .5em 0;
    padding-top: 1em;
}

#faculty ul.fields {font-weight:bold;}

#grantsList, #linkedPubs, #selectedPubs {margin: 20px 16px;}

#grantsList li {
    list-style-image: url(../images/layout/bullet_graysquare.gif);
    margin-left: 20px;
/*    list-style-position: inside;*/
}

#pubmedLink {
    position: absolute;
    top: 10px;
    right: 20px;
}

#cornellContact {margin-top: 1em;}

/*________ RESEARCH AREAS ________*/

#researchareas #fields {padding-top: 22px;}

#researchareas li {list-style-type: none;}

#researchareas div.headingBox {
    padding-bottom: 6px;
    margin-top: 32px;
}

#researchareas #statusBox,
#researchareas #scrollBox {margin-right: 40px;}

#researchareas #areaList {
    background: #224647;
    margin: 0 10px 0 -20px;
    padding: 20px 0 0 20px;
    min-height: 400px;
    background: url(../images/layout/bg_sidebar_left-top.gif) top left repeat-y;
}

#researchareas #areaList em {
    display: block;
    margin: -1.5em 0 1.5em 0;
    color:#A3B4B5;
}

#researchareas div.bottom {
    background: url(../images/layout/bg_sidebar_left-bottom.gif) bottom left no-repeat;
    margin-left: -20px;
}

#researchareas ul.fields li {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: bold;
/*    padding-top: .75em;*/
    margin-bottom: .5em;
    font-size: 1.333em;
}

#researchareas p.description,
#fields p.description {
    font-size: 1.167em;
}

/*#researchareas .description.short {
    background: #224647;
    padding: 20px;
}
*/
#researchareas .description.short p {margin: 0;}


/*________ RESEARCH FACILITIES ________*/

#facilities h3 {
    padding: 10px 12px 11px;
    margin: 10px 0;
    background: #5a5651 url(../images/layout/arrow-collapsed_big.gif) no-repeat 98% 50%;
    color: #fff;
}

#facilities h3.expanded {background: #5a5651 url(../images/layout/arrow-expanded_big.gif) no-repeat 98.5% 60%;}

#facilities a.facilityPage {
    padding: 4px 0 4px 20px;
    background: url(../images/icons/world_link.png) no-repeat left center !important;
    background: url(../images/icons/world_link.gif) no-repeat left center;
    height: 20px;
    border: 0;
}

#facilities ul.facilityList {margin: 0 10px;}

#facilities ul.facilityList li {
    list-style-type: none;
    background: #184040;
    padding: 14px 12px;
    margin: 6px 0;
}

#facilities div.description ul {list-style-position: inside;}

#facilities div.description li {
    padding: 0;
    margin: 0 0 .5em 0;
    list-style-type: disc;
}



/*________ SEARCH PAGE ________*/


#search h3 {
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.167em;
    margin-top: 2em;
    margin-bottom: .3em;
}

#search ul.results {margin:0;}

#search ul.results li {list-style-type:none;}

#search #search-form-query {
    width: 400px;
    font-size: 1.333em;
    line-height: 1em;
    padding: .2em;
    color: #fff;
    background: #000;
    border: 1px solid #758e90;
}

#search #search-form-submit {margin-left: 4px;}

#search #search-form {margin-bottom: 3em;}

p.resultCount {
    padding: 5px 22px;
    margin-left: -20px;
    background: #1a3e40;
    border-top: 2px solid #305e61;
    font-style: italic;
}

#search #pagination {
    margin: 40px 0 60px 0;
}

#search #pagination a {
    color: #fff;
    float: left;
    padding:  3px 6px 3px 6px;
    margin-right: 4px;
    background: #204647;
    border: 1px solid #2f6869;
}

#search #pagination span {
    float: left;
    padding:  3px 7px 3px 7px;
    margin-right: 4px;
    font-weight: bold;
}

#search #pagination a:hover {
    border: 1px solid #fff;
}


/*________ FEEDBACK FORM ________*/


#feedback label,
#feedback input.text,
#feedback select {font-size: 1.167em;}


body#feedback label {
    color: #fff;
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

body#feedback label em,
body#feedback p em { 
    font-weight: bold;
    color: red; 
}

body#feedback em.notice { display: block; margin-bottom: 5px; font-style: italic; }

body#feedback span.error {
    display: block;
    color: red;
    font-weight: bold;
    margin-top: 3px;
}

body#feedback input.text, 
body#feedback textarea, 
body#feedback select {
    color: #fff;
    background: #000;
    border: 1px solid #5d7173;
    padding: 5px;
}

body#feedback input.text {width: 350px;}

body#feedback textarea {
    width: 877px;
    height: 150px;
}

body#feedback input.submit {
    display: block;
    margin-top: 30px;
}

body#feedback select {padding: 0;}

body#feedback #content img {
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

#feedback em.note {
    display: block;
    color: #a3b4b5;
}

/****************************************************************
Header area
****************************************************************/

#header h1 {
    margin-bottom: 16px;
    line-height: .8em;
    font-family: "Myriad Pro", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    color: #69bfde;
}

ul#navigation {
    display: inline-block;
    margin: 0;
}

ul#navigation li {
    float: left;
    display: inline;
/*    font-size: 1.3em;*/
    margin-right: 3px;
    margin-top: 2px;
    background: url(../images/layout/tab-inactive_left.gif) no-repeat left top;
}

ul#navigation li a {
    float: left;
    font-size: 1.083em;
/*    line-height: 1;*/
    padding: 4px 9px 3px 9px;
    color: #000;
    border: 0;
    background: url(../images/layout/tab-inactive_right.gif) no-repeat right top;
}

ul#navigation li.currentTab {
    background: url(../images/layout/tab-active_left.gif) no-repeat left top;
    margin-top: 0;
/*    margin-bottom: -3px;*/
}

ul#navigation li#homeTab {background: none;}

ul#navigation li#homeTab.currentTab a {
    background: url(../images/layout/tab-active_left_home.gif) no-repeat right top;
    border-left: 2px solid #143737;
}

ul#navigation li#homeTab a { background: url(../images/layout/tab-inactive_left_home.gif) no-repeat right top; }

ul#navigation li.currentTab a {
    padding: 6px 9px 3px 9px;
    color: #fff;
    background: url(../images/layout/tab-active_right.gif) no-repeat right top;
}

ul#navigation li a:hover {color: #fff;text-decoration:none;}


/****************************************************************
Footer area
****************************************************************/

#footer {
    clear: both;
/*    height: 6em;*/
    height: 70px;
    color: #fff;
    background: #000;
    position: relative;
}

div.push {
    clear: both;
/*    height: 6em;*/
    height: 56px;
}

#footer div {
    width: 954px;
    margin: 0 auto;
    color: #989898;
}

#footer p {
    margin: 8px 0 0 0;
    float: left;
}

#footer a.siteFeedback {
    font-weight: bold;
    margin-top: 8px;
    float: right;
}

#footer a:link, #footer a:visited {
    color: #a39d6b;
}

#footer a:hover {
    color: #eae6a1;
    text-decoration: underline;
}

#footer a.vivoLink:link, #footer a.vivoLink:visited {
    color: #000;
    position: absolute;
    bottom: 3px;
    display: block;
    margin: 0 auto;
}

#footer a.vivoLink:hover {color: yellow;}


/****************************************************************
Forms
****************************************************************/


input#search-form-query, select#research-areas-menu {background: #dedede;}

select#research-areas-menu {margin-bottom: 0;}

input#search-form-submit {line-height: 1.333em;}


/****************************************************************
Icons for Groupings
****************************************************************/

/* Note: positioning rules had to be declared for each class because they did not work when grouped together*/
.individual31915 {    /* Applied Biology */
    background: url(../images/icons/icon-applied_bio.png) no-repeat left top !important; 
    background: url(../images/icons/icon-applied_bio.gif) no-repeat left top; } 
    
.individual31919 {    /* Biomedical Sciences */
    background: url(../images/icons/icon-biomed.png) no-repeat left top !important;
    background: url(../images/icons/icon-biomed.gif) no-repeat left top; }
    
.individual31918 {    /* Ecology, Evolution, Integrative Biology */
    background: url(../images/icons/icon-ecology.png) no-repeat left top !important;
    background: url(../images/icons/icon-ecology.gif) no-repeat left top; }
    
.individual31917 {    /* Genetics, Genomics, Bioinformatics */
    background: url(../images/icons/icon-genetics.png) no-repeat left top !important;
    background: url(../images/icons/icon-genetics.gif) no-repeat left top; }
    
.individual31916 {    /* Molecular, Cellular Biology */
    background: url(../images/icons/icon-molecbio.png) no-repeat left top !important;
    background: url(../images/icons/icon-molecbio.gif) no-repeat left top; }
    
.individual31920 {    /* Physical, Chemical, Computational Biology */
    background: url(../images/icons/icon-physchem.png) no-repeat left top !important;  
    background: url(../images/icons/icon-physchem.gif) no-repeat left top; }

.individual31915, .individual31919, .individual31918, .individual31917, .individual31916, .individual31920 {
/*    padding: 17px 0 20px 45px;*/
    padding: 14px 0 28px 45px;
}

/* ---------- Small icons for groupings displayed in sidebar ---------- */
.small .individual31915 {    /* Applied Biology */
    background: url(../images/icons/small/smallicon-applied_bio.png) no-repeat left top !important; 
    background: url(../images/icons/small/smallicon-applied_bio.gif) no-repeat left top; } 
    
.small .individual31919 {    /* Biomedical Sciences */
    background: url(../images/icons/small/smallicon-biomed.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-biomed.gif) no-repeat left top; }
    
.small .individual31918 {    /* Ecology, Evolution, Integrative Biology */
    background: url(../images/icons/small/smallicon-ecology.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-ecology.gif) no-repeat left top; }
    
.small .individual31917 {    /* Genetics, Genomics, Bioinformatics */
    background: url(../images/icons/small/smallicon-genetics.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-genetics.gif) no-repeat left top; }
    
.small .individual31916 {    /* Molecular, Cellular Biology */
    background: url(../images/icons/small/smallicon-molecbio.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-molecbio.gif) no-repeat left top; }
    
.small .individual31920 {    /* Physical, Chemical, Computational Biology */
    background: url(../images/icons/small/smallicon-physchem.png) no-repeat left top !important;  
    background: url(../images/icons/small/smallicon-physchem.gif) no-repeat left top; }

.small .individual31915,  .small .individual31919, .small .individual31918, .small .individual31917, .small .individual31916, .small .individual31920 {
    padding: 2px 0pt 24px 30px;
}

.individual31915.big { background: url(../images/icons/big/bigicon-applied_bio.png) no-repeat left top !important;}
.individual31919.big { background: url(../images/icons/big/bigicon-biomed.png) no-repeat left top !important; }
.individual31918.big { background: url(../images/icons/big/bigicon-ecology.png) no-repeat left top !important; }
.individual31917.big { background: url(../images/icons/big/bigicon-genetics.png) no-repeat left top !important; }
.individual31916.big { background: url(../images/icons/big/bigicon-molecbio.png) no-repeat left top !important; }
.individual31920.big { background: url(../images/icons/big/bigicon-physchem.png) no-repeat left top !important; }

.individual31915.big, .individual31919.big, .individual31918.big, .individual31917.big, .individual31916.big, .individual31920.big {
    padding: 45px 0pt 60px 88px;
}