/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:      Life Sciences Graduate Portal screen styles
Author:     mw542@cornell.edu
Updated:    June 6, 2008
*/

html {
    height: 100%;    /* Allow background overlay to extend to bottom of window */
    font-size: 100%; /* Preventing IE from messing up keyword steps for font sizes */
}

body {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
/*    font-size: 63.125%; */
    font-size: 62.5%;  /*   translate 1.0em to 10px, 1.5em to 15px, etc.    */
    text-align: center;
    color: #333;
    background: #494949 url(../images/layout/bg_body.png) repeat-x left top;
}

#bodyOverlay {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    font-size: 1em;
    margin-bottom: -6em;
    background: transparent url(../images/layout/bg_bodyoverlay.png) 90% 0% !important;
    background-image: none;
}

#wrap {
    margin: 0 auto;
    text-align: left;
    width: 930px;
}


#header {
    float:left;
    width: 100%;
    padding-top: 6px;
    background: transparent url(../images/layout/bg_header.jpg) no-repeat right bottom;
}

#contentWrap {
    float: left;
    display: inline; /* fixes IE double floated margin bug */
    width: 930px;
/*    margin-bottom: 4px;*/
    padding-bottom: 28px;
/*    border: 1px solid #093436;*/
    border: 2px solid #143737;
    border-top: 0;
    background: transparent url(../images/layout/bg_content.png) left top !important;
/*    background: transparent url(../images/layout/bg_contentGrid.png) center top repeat-y !important;*/
/*     background: #193335 url(../images/layout/bg_content.gif) left top;*/
     background: #002e2f url(../images/layout/bg_content.gif) repeat-x left top;
/*    background: #193335 url(../images/layout/bg_contentGrid.gif) center top repeat-y;*/
/*    background-color: #193335;*/
}

#content {
    float: left;
    display: inline;
    width: 580px;   /*eight units*/
    margin-left: 20px;
    padding-top: 28px;
    color: #efecca; /*yellow*/
    min-height: 400px;
}

body#groups #content {  
    width: 890px; margin-right: 20px;
}

body#fields #content { 
    width: 590px; margin-right: 20px;
}

body#newsindex #content { 
    width: 890px; margin-right: 20px;
}

body#eventindex #content { 
    width: 890px; margin-right: 20px;
}

body#groupindex #content { 
    width: 890px; margin-right: 20px;
}

body#facilities #content { 
    width: 890px; margin-right: 20px;
}

body#departments #content { 
    width: 890px; margin-right: 20px;
}

body#events #content { 
    width: 890px; margin-right: 20px;
}

body#faculty #content.index { 
    width: 890px; margin-right: 20px;
    min-height: 500px; 
}

body#search #content { 
    width: 890px; margin-right: 20px;
    min-height: 500px; 
}

body#feedback #content { 
    width: 890px; margin-right: 20px;
    min-height: 500px; 
}

#sidebar {
    float: right;
    display: inline;
    width: 290px; /*four units*/
    margin-right: 20px;
    padding-top: 28px;
/*    color: #efecca;*/
    color: #fff;
}

body#groups #sidebar { 
/*    width: 365px;*/
}

body#fields #sidebar { 
    width: 270px;
}

/*body#fields #sidebar {
    width: 365px;
}*/

#content div.leftColumn {
    float: left;
    width: 440px;
    margin-top: 20px;
}

#content div.rightColumn {
    float: right;
    width: 440px;
    margin-top: 20px;
}

#footer {
    clear: both;
    height: 6em;
    color: #fff;
    background: #000;
}

div.push {
    clear: both;
    height: 6em;
}

.eightUnit { width: 590px; }
.sevenUnit { width: 515px; }
.sixUnit { width: 440px; }
.fiveUnit { width: 365px; }
.fourUnit { width: 290px; }
.threeUnit { width: 215px; }
.twoUnit { width: 140px; }
.oneUnit { width: 65px; }

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

/****************************************************************
header roll call
****************************************************************/
#header {
/*    position: relative;*/
}

#header h1 {
    margin-left: 12px;
    margin-bottom: 16px;
    line-height: .8em;
    font-size: 3.2em;
    font-family: "Myriad Pro", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    color: #69bfde;
}

#header ul {
    display: inline-block;
/*    position: relative;*/
/*    bottom: 0;*/
}

#header ul li {
    float: left;
    display: inline;
    font-size: 1.3em;
    margin-right: 3px;
    margin-top: 2px;
    background: url(../images/layout/tab-inactive_left.gif) no-repeat left top;
}


#header ul li a {
    float: left;
    padding: 5px 9px 4px 9px;
    color: #000;
    border: 0;
    background: url(../images/layout/tab-inactive_right.gif) no-repeat right top;
}

#header ul li.currentTab {
    background: url(../images/layout/tab-active_left.gif) no-repeat left top;
    margin-top: 0;
}

#header ul li#homeTab {
    background: none;
}

#header ul li#homeTab.currentTab a {
    background: url(../images/layout/tab-active_left_home.gif) no-repeat right top;
    border-left: 2px solid #143737;
}

#header ul li#homeTab a {
    background: url(../images/layout/tab-inactive_left_home.gif) no-repeat right top;
}

#header ul li.currentTab a {
    padding: 7px 9px 4px 9px;
    color: #fff;
    background: url(../images/layout/tab-active_right.gif) no-repeat right top;
}

#header ul li a:hover {
/*    color: #ffee8f;*/
    color: #fff;
}

/****************************************************************
content roll call
****************************************************************/

#breadcrumbs {
/*    height: 30px;*/
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #243f3f;
/*    background: #1d3333;*/
    padding-left: 20px;
}

#breadcrumbs ol {
    /*    margin: 0;*/
    background: #243f3f;
    height: 3em;
}

#breadcrumbs li {
    float: left;
    list-style-type: none;
    color: #91aaaa;
    background: #243f3f;
    margin: 0;
    font-size: 1em;
    line-height: 3em;
/*    padding: .7em 0;*/
}

#breadcrumbs li.second,
#breadcrumbs li.third,
#breadcrumbs li.fourth {
     background: url(../images/layout/breadcrumb-arrow.gif) no-repeat 0% 47%;
     padding-left: 30px;
}

#breadcrumbs a {
    float: left;
    border: 0;
    color: #91aaaa;
    padding: 1em 0;
    line-height: 1em;
}

#breadcrumbs a.first {
    background: url(../images/layout/breadcrumb-home.gif) no-repeat center center;
/*    padding-left: 26px;*/
    width: 24px;
    text-indent: -5000px;
    overflow: hidden;
}

#breadcrumbs.small a.individual31915,
#breadcrumbs.small a.individual31919,
#breadcrumbs.small a.individual31918,
#breadcrumbs.small a.individual31917,
#breadcrumbs.small a.individual31916,
#breadcrumbs.small a.individual31920 {
    background-position: left center !important;
    padding-left: 28px;
}


body#home #content h2 {
/*    letter-spacing: .5px;*/
    word-spacing: 1px;
    margin-top: 0.6em;
}

body#home #content p {
    font-size: 1.2em;
    line-height: 1.5em;
}

body#groupindex h2 {
    font-size: 1.6em;
}

body#groupindex h2 span {
    font-style: italic;
    font-size: .7em;
}

body#groupindex h3 {
    font-size: 1.5em;   /* Scaling down group names to fit two-column layout */
    line-height: 1.5em;
    padding-top: 20px;
    padding-left: 45px;
}

body#groups h2 {
/*    margin-top: -10px;*/
}

body#groups h3.floatLeft {
    margin-left: 45px;
    display: inline;
}

h2.groupLabel, h2.groupLabel a:link, 
h2.groupLabel a:visited,
body#groupindex h3.groupLabel a {
    line-height: 1.4em;
    color: #fff;
    font-weight: bold;
}

body#groupindex h3.groupLabel {
    margin-bottom: -25px;
}

/*.fieldLabel {
    color: #fff;
    font-weight: bold;
    padding-left: 6px;
}*/

.sectionLabel {
    display: block;
    margin-top: .3em;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
}

body#home #apply {
    margin-top: 20px;
    margin-right: 75px;
    background: #046380;
    position: relative;
}

body#home #apply p { 
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0;
    padding: 15px 110px 15px 15px;
}

body#home #applyButton { 
    position: absolute;
    top: 50%;
    right: 7%;
    border: 0;
    margin-top: -15px;
}

body#newsindex #content ul {
    width: 100%;
}



body#newsindex #content li {
    width: 420px;
    float: left;
    display: inline-block;
    padding-bottom: 50px;
/*    background: #555;*/
}

body#newsindex #content li.odd {
    float: left;
    clear: both;
    margin-right: 40px;
/*    background: green;*/
}

/* Note: IE6 and IE7 have trouble clearing floats properly (to allow the tops of each pair of news items to align) and therefore require the filters down at the bottom */

body#newsindex #content img {
    float: left;
    width: 80px;
    border: 1px solid #fff;
    margin: 3px 8px 2px 0;
}

body#newsindex h2 {
    margin-bottom: 2em;
}

body#newsindex h3 {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: -.03em;
    line-height: 1.4em;
    margin-top: 0;
}

body#newsindex p {
    font-size: 1.2em;
    margin: .5em 0;
}

body#eventindex #content li,
body#eventindex p {
    font-size: 1.3em;
}

body#eventindex #content li {
    margin-bottom: 20px;
}

body#eventindex h3 {
    margin-top: 30px;
    margin-bottom: 12px;
    font-weight: bold;
}

body#eventindex #content ul {
margin-bottom: 60px;
}

body#eventindex p {
    margin-top: 0;
}

body#eventindex dt {
    margin-bottom: .3em;
/*    font-weight: bold;*/
    line-height: 1.3em;
}

body#groups div#hoverBox {
    float: right;
    display: none;
    width: 435px;
    margin-top: 1em;
/*    min-height: 400px;*/
/*    background: transparent url(../images/layout/hoverbox-top2.gif) no-repeat top center;*/
    background: #5a5651;
    color: #EFECCA;
}

body#groups div#fieldDepartments {
    background: transparent url(../images/layout/hoverbox-top.gif) no-repeat bottom center;
    min-height: 50px;
}

body#groups div#fieldDescription,
body#groups div#fieldDepartments ul {
    font-size: 1.2em;
    list-style-position: inside;
}

body#groups div#fieldDepartments ul li {
    margin-left: 4px;
    list-style-type: disc;
}

body#groups div#fieldDescription,
body#groups div#fieldDepartments {
    margin: 0 20px 20px 20px;
/*    background: #5a5651;*/
}

body#groups div#fieldDescription p {
    margin-top: 0;
}

body#groups div#fieldDescription ul {
    margin: 1em 0;
}

body#groups div#fieldDescription li {
    list-style-type: disc;
}

body#groups div#hoverBox h4,
body#groups div#hoverBox h5 {
/*    font-weight: bold;*/
    margin: 20px 20px 0 20px;
}

body#groups div#hoverBox h4 {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: .5em;
}

body#groups div#fieldDescription p:first-child {
    margin-top: 0;
}

body#fields #sidebar h3 {
    font-size: 1.6  em;    
}

body#fields div#facultySpotlight {
    background: #4f4b47;
    color: #fff;
    font-size: 1em;
    line-height: 1.2em;
}

body#fields div#facultySpotlight h3 {
/*    font-size: 1.4em;*/
    padding: 4px 10px;
    margin: 0;
    background: #363431;
}

body#fields div#facultySpotlight h4 {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: .2em;
    margin-top: 20px;
    margin-left: 80px;
    padding-right: 10px;
}

body#fields div#facultySpotlight h4 a {
    border-bottom: 1px dotted #888;
}

body#fields div#facultySpotlight h5 {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .5em;
}

body#fields div#facultySpotlight div.blurb {
    clear: left;
    min-width: 190px; /* Some blurbs not long enough to fill width and do not clear image */
    display: inline-block; /* Prevent IE from doubling any padding */
    padding:  10px;
}

body#fields div#facultySpotlight img {
    float: left;
    position: relative;
    width: 75px;
    margin: 10px 6px 0 10px;
    border: 1px solid #fff;
}

body#fields div#facultySpotlight em {
    display: block;
    font-size: 1.1em;
    line-height: 1.1em;
    margin-left: 80px;
    padding-right: 10px;
}

body#fields div#facultySpotlight ul {
/*    margin-top: 1em;*/
    list-style-type: disc;
}


body#fields div#facultySpotlight li {
    margin-left: 16px;
    margin-bottom: .5em;
    list-style-type: disc;
}

body#fields div#facultySpotlight li p {
    margin: 0;
}

body#fields div#facultySpotlight a.readMore {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: #EFECCA;
}

body#fields div#content h3, 
body#departments h3 {
    margin-top: 10px;
}

body#fields h3 {
    margin-bottom: 3px;
}

body#departments div#deptPageScreenshot {
    float: right;
    padding: 14px 24px 12px 24px;
/*    padding: 12px 18px 10px;*/
    background: #234a4a;
/*    border: 2px solid #234a4a;*/
    line-height: 1.2em;
    margin-left: 10px;
    margin-bottom: 20px;
}

body#departments div#deptPageScreenshot img {
    display: block;
/*    width: 160px;*/
    margin-bottom: .5em;
}
body#departments div#deptPageScreenshot a {
    display: block;
    width: 200px;
}

body#departments div#deptPageScreenshot a:hover {
    text-decoration: underline;
}

.weillNotice {
    font-size: 1.2em;
/*    font-style: italic;*/
/*    color: #fff582;*/
    color: #fff260;
/*    margin-top: 1.8em;*/
}

.weillNotice span {
    font-weight: bold;
}

body#fields div#fieldDescription a.fieldLink {
    border-bottom: 1px dotted #7a9899;
/*    text-decoration: underline;*/
    font-size: 1.3em;
    margin: 1em 0;
}

body#fields div#fieldDescription div.description,
body#departments div#deptDescription div.description {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 1em;
}

body#fields div#fieldDescription ul li,
body#departments div#deptDescription ul li {
    list-style-type: disc;
    margin-left: 2em;
    margin-bottom: .5em;
    line-height: 1.3em;
}

body#fields div#fieldFaculty {
    margin-top: 3em;
    clear: right;
}

body#fields div#fieldFaculty ul {
    list-style-position: outside;
    margin-top: 1.5em;
}

body#fields div#fieldFaculty li {
    display: block;
    clear: left;
    font-size: 1.2em;
    min-height: 46px;
    margin-bottom: 14px; /*Spacing between items*/
}

body#fields div#fieldFaculty li a {
/*    border: 0;*/
    line-height: 1.5em;
}

body#fields div#fieldFaculty li img {
    width: 44px;
    float: left;
    display: inline; /* Avoiding IE float-margin bugs */
    border: 1px solid #fff;
    margin-right: 6px;
}

body#fields div#fieldFaculty li strong {
    display: inline;
    font-weight: bold;
}

body#fields div#fieldFaculty li em {
    display: block;
    margin-left: 50px;
}

/*body#fields div.wrapper,*/
body#departments div.wrapper {
    clear: both;
    width: 100%;
    border-top: 1px solid #295758;
    margin-top: 20px;
    padding-top: 10px;
}

body#fields div.wrapper li,
body#departments div.wrapper li {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: .4em;
}

body#fields div#fieldDepartments {
    margin-top: 2em;
    padding: 10px;
    border: 2px solid #005959;
}

body#fields div#fieldDepartments p,
body#fields div#researchAreas p {
    color: #efecca;
    font-style: italic;
    line-height: 1.3em;
    margin-top: 0;
}

body#fields div#fieldDepartments a {
/*    border: 0;*/
}


body#fields div#fieldDepartments li {
    color: #a7a37e;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: .5em;
    margin-left: 18px;
    list-style-type: square;
}

body#departments div#deptOverview {
    float: left;
    width: 290px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
}

body#departments div#deptFaculty {
    float: left;
    width: 565px;
    border-left: 1px solid #295758;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: 10px;    
    margin-bottom: 10px;
    color: #fff;
}

body#departments div#deptProjects li {
    line-height: 1.4em;
    margin-bottom: .6em;
}

body#fields div#researchAreas {
/*    clear: both;*/
/*    margin: 0 20px;*/
    margin-top: 2em;
    padding-top: 10px;
    border: 2px solid #005959;
}

body#fields div#researchAreas h3,
body#fields div#researchAreas p {
    padding: 0 10px;
}

body#fields div#researchAreas li {
/*    padding: 2px 10px 3px 10px;*/
    margin-top: 2px;
}

body#fields div#researchAreas li a {
    display: block;
    background: #1a4547;
    padding: 2px 10px 3px 10px;
    border: 0;
}

body#fields div#researchAreas a:hover {
    background: #225c5e;
    color: #fff;
}

body#fields div#researchAreas a:visited {
    color: #fff;
}
body#fields div#fieldFaculty li.selected,
body#fields div#researchAreas a.selected {
    background: #735574;
}


ul.colOne,
ul.colTwo,
ul.colThree {
    float: left;
}

body#fields div#fieldFaculty ul {
    width: 280px;
}

body#fields div#fieldFaculty ul.colOne {
    margin-right: 20px;
}

body#departments div#deptFaculty ul {
    width: 167px; 
    margin-right: 10px;
}

body#departments div#deptFaculty ul.colThree { 
    margin-right: 0; 
}


body#facilities em.subhead {
    display: block;
    font-size: 1.2em;
    margin-bottom: 24px;
    margin-top: 6px;
}

body#facilities h3 {
    /*    clear: both;*/
/*    font-weight: bold;*/
    padding: 4px 12px 6px 12px;
    margin-top: 10px;
    /*margin-bottom: 7px;*/
    background: #5a5651 url(../images/layout/arrow-collapsed_big.gif) no-repeat 98% 50%;
    color: #fff;
}

body#facilities h3.expanded {
/*    font-weight: bold;*/
    background: #5a5651 url(../images/layout/arrow-expanded_big.gif) no-repeat 98.5% 60%;
}

body#facilities h4.facilityName {
/*    float: left;*/
color: #ffee8f;
font-size: 1.2em;
font-weight: bold;

}

body#facilities div.description h4 {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    margin: 10px 0 0 0;
}

body#facilities a.facilityPage {
/*    float: right;*/
    padding: 4px 0 4px 20px;
    background: url(../images/icons/world_link.png) no-repeat left center !important;
    background: url(../images/icons/world_link.gif) no-repeat left center;
    height: 20px;
    border: 0;
/*    white-space: nowrap;*/
/*    text-decoration: underline;*/
/*    color: #ffee8f;*/
}

body#facilities div.description {
    font-size: 1.2em;
/*    clear: both;*/
/*    color: #fff;*/
/*    margin-bottom: 1em;*/
}

body#facilities ul.facilityList {
    margin: 0 10px;
}

body#facilities ul.facilityList li {
/*    clear: both;*/
    background: #184040;
    padding: 14px 12px;
    margin: 6px 0;
}

/* Styles to reset markup inside data properties */
body#facilities div.description ul {
    list-style-position: inside;
}

body#facilities div.description  li {
    padding: 0;
    margin: 0 0 .5em 0;
    list-style-type: disc;
}

body#search h3 {
    font-size: 1.4em;
    margin: 1.8em 0 0 0;
}

body#search h3 a {
/*    border-bottom: 1px solid #999999;*/
/*    border-bottom: 1px solid #4a7172;*/
    text-decoration: underline;
}

body#search #searchResults p {
    font-size: 1.2em;
    margin-top: 0;
}

body#search #searchResults span.highlight {
    font-weight: bold;
    background: none;
}

p.resultCount {
    padding: 5px 22px;
    margin-left: -20px;
    margin-right: -20px;
    background: #1a3e40;
    border-top: 2px solid #305e61;
    font-style: italic;
}

body#faculty #overview h2 {
    line-height: 1em;
    color: #fff;
    font-weight: bold;
    padding-top: .5em;
}

body#faculty #overview em {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #fff;
}

body#faculty div.description {
    clear: left;
    line-height: 1.3em;
}

body#faculty div.description h4 {
    color: #efecca;
    font-size: 1em;
    font-weight: bold;
}

body#faculty div.description li {
    list-style-type: disc;
    list-style-position: outside;
    line-height: 1.1em;
    margin: .5em 0 .5em 17px;
}

body#faculty div.description li p {
    margin: .5em 0;
}

body#faculty #overview img {
    float: left;
    width: 7.5em;
    border: 1px solid #fff;
    margin: 0 12px 18px 0;
}

body#faculty #content h3 {
    font-weight: bold;
}

#faculty-research,
#faculty-publications,
#faculty-teaching {
/*    background: #385266;*/
    background: #315959;
    padding: 10px 15px 15px 15px;
    margin: 2em 0;
/*    color: #fff;*/
}

#faculty-publications h3 {
    width: 49%;
    float: left;
}

#faculty-publications ul {
    clear: left;
    padding-top: 4px;
}

#pubmedLink {
    float: right;
    font-size: .8em;
    margin-top: 1.2fem;
    color: #7bc4c4;
    font-weight: bold;
    text-decoration: underline;
    margin-top: .9em;
}

#faculty-research h3,
#faculty-publications h3,
#faculty-teaching h3 {
    line-height: 2em;
    font-size: 1.3em;
}

#faculty-research h3 {
    background: url(../images/icons/faculty-research.gif) no-repeat left center;
    padding-left: 31px;
}

#faculty-publications h3 {
    background: url(../images/icons/faculty-publications.gif) no-repeat left center;
    padding-left: 31px;
}

#faculty-teaching h3 {
    background: url(../images/icons/faculty-teaching.gif) no-repeat left center;
    padding-left: 26px;
}

#faculty-research {
    font-size: 1em;
}

#faculty-research li,
#faculty-publications li,
#faculty-teaching li {
    line-height: 1.3em;
    margin: .5em 0 1em 0;
}

#faculty-teaching p {
   margin-top: .3em;
   line-height: 1.1em;
}

body#faculty #content {
    font-size: 1.3em;
}

body#faculty #content a {
/*    border-color: #888;*/
    border-color: #708c8c;
}

body#faculty #content.index {
    font-size: 1em;
}

body#faculty #sidebar a {
    border-color: #5C7373;
}

body#faculty #sidebar h3 {
    font-size: 1.4em;
    margin-left: 11px;
}

body#faculty ul#facultyFields,
body#faculty ul#facultyDepts {
    font-size: 1.1em;
    margin-bottom: 20px;
    margin-left: 12px;
}

body#faculty #sidebar p {
/*    font-size: 1.1em;*/
}

body#faculty #education,
body#faculty #awards {
    margin-bottom: 20px;
    font-size: 1.1em;
    margin-left: 12px;
}

body#faculty #education li,
body#faculty #awards li {
    line-height: 1.1em;
    margin: .2em 0 .8em 0;
}

body#faculty #awards li {
/*    margin: .5em 0;*/
}

body#faculty #contactInfo {
    background: #4F4B47;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

body#faculty #contactInfo h3 {
    background: #363431;
    padding: 3px 10px;
    margin: 0;
}

body#faculty #contactInfo table {
    width: 90%;
    margin: 10px 10px 0 12px;
    padding-bottom: 10px;
    color: #efecca;
    font-size: 1.1em;
}

body#faculty #contactInfo th {
    width: 20%;
    color: #fff;
    font-weight: bold;
}

body#faculty ul#profileLinks {
    padding: 10px 10px 0 13px;
    margin: 0;
}

body#faculty ul#profileLinks li {
    padding: 1px 0 3px 18px;
    background: url(../images/icons/external_profile.gif) no-repeat left top;
    line-height: 1.1em;
    margin-bottom: .5em;
}

body#faculty ul#profileLinks li a {
    border: 0;
}



/****************************************************************
sidebar roll call
****************************************************************/

body#fields #sidebar {
    font-size: 1.1em;
}

#news, #searchBox, #seminars {
    padding: 12px 10px;
    color: #000;
    background: #efecca;
}

#news {
    padding-right: 0;
}

#searchBox, #seminars {
    margin-top: 20px;
}

#searchBox {
    background: #a7a37e;
}

#sidebar h2 {
    margin-bottom: 16px;
    color: #046380;
    font-size: 1.8em;
    font-weight: bold;
}

#searchBox h2 {
    color: #fff;
}

#seminars span.abbrStart {
    font-size: 1.2em;
}

#seminars span.abbrStart, #seminars p.host {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
}

#seminars p.summary {
    clear:both;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
}

#seminars span.abbrEnd, #seminars p.location, #seminars p.description {
    display:none;
}

/****************************************************************
footer roll call
****************************************************************/
#footer div {
    width: 930px;
    margin: 0 auto;
    color: #989898;
}

#footer p {
    font-size: 1.2em;
    margin: 8px 0 0 0;
    float: left;
}

#footer a.siteFeedback {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 8px;
    float: right;
}

#footer a:link, #footer a:visited {
    color: #6799ab;
    border: 0;
}

#footer a:hover {
    color: #91ced9;
    border-bottom: 1px solid #91ced9;
}

/****************************************************************
basics roll call
****************************************************************/

p {
/*    font-size: 1.2em;*/
/*    line-height: 1.4em;*/
    text-align: left;
    margin: 1em 0;
}

p.clean {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
/*    font-weight: bold;*/
    font-weight: normal;
    color: #a7a37e; /* Gold */
}

h1 {
    margin: 10px 20px;
    font-size: 3.4em;
    letter-spacing: -.02em;
    color: #69bfde; /* Light Blue */
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.4em;
    line-height: 1.5em;
}

h5 {
    font-size: 1.4em;
    line-height: 1.5em;
}

em {
    font-style: italic;
}

.clear {
    clear: both;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}

/****************************************************************
image roll call
****************************************************************/
#news ul li img {
/*    width: 100%;*/
    max-height: 128px;
    max-width: 128px;
    width: auto !important; 
    width: 128px; /* Giving IE6 and below a fixed width since they doesn't accept maximums */
    display: block;
/*    margin: 0 auto;*/
    margin-bottom: 5px;
    border: 1px solid #c9c7a9;
}

body#faculty #fdImageThumb img {
    width: 150px;
/*    height: 150px;*/
    padding-top: 1px;
}

body#faculty img.localsnapr {
    padding-left: 5px;
    text-decoration: none;
}

body#faculty img.localsnapr {
    cursor: pointer;
}

/****************************************************************
anchor roll call
****************************************************************/
a:link, a:visited, a:hover, a:active { text-decoration: none; }
a:link { color: #fff; }
/*a:visited { color: #a1b3b3; }*/
a:visited { color: #b8b8b8; }
a:hover { color: #69bfde; }
a:active { color: #69bfde; }

p a { border-bottom: 1px dotted #7a9899;  }
p a:visited { border-bottom: 1px dotted #777777;  }
* html p a { border-bottom-style: solid; border-bottom-color: #7a9899; }
* html p a:visited { border-bottom-style: solid; border-bottom-color: #777777; }

li a { border-bottom: 1px dotted #7a9899; }
li a:visited { border-bottom: 1px dotted #777777; }
* html li a { border-bottom-style: solid; border-bottom-color: #7a9899; }
* html li a:visited { border-bottom-style: solid; border-bottom-color: #777777; }

ul.groupings li a:link, ul.groupings li a:visited {
    color: #fff;
/*    border-bottom: 1px solid #5c7373;*/
}

ul.groupings li a:hover {
    color: #69bfde;
/*    border-bottom: 1px solid #69bfde;*/
/*    border: 0;*/
}

ul.fields li a {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
}

#news a:link, #news a:visited, #seminars a:link, #seminars a:visited {
    color: #046380;
    text-decoration: underline;
    border: 0;
}

#news a:hover, #seminars a:hover {
    color: #2ca6d2;
}

#seminars p.host a:link, #seminars p.host a:visited {
    color: #000;
    border-bottom: 0;
    text-decoration: none;
}

#seminars p.host a:hover {
    color: #69bfde;
}

#sidebar span.moreLink {
    clear: both;
    display: block;
    text-align: right;
/*    font-weight: bold;*/
    font-size: 1.2em;
}

#news span.moreLink {
    margin-right: 10px;
    padding-top: 1em;
}

#sidebar span.moreLink a:link, #sidebar span.moreLink a:visited {
/*    font-weight: bold;*/
    color: #b9121b;
    border-bottom: 0;
}

#sidebar span.moreLink a:hover, #sidebar span.moreLink a:active {
    color: red;
    border-bottom: 0;
/*    font-weight: bold;*/
    text-decoration: underline;
}

span.toggleLink {
    display: block;
    padding-left: 14px;
    margin: 6px 0;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
    color: #EAE8C7;
    background: url(../images/icons/expander-plus.gif) no-repeat left center;
}

span.toggled {
    background: url(../images/icons/expander-minus.gif) no-repeat left center;
}

span.toggleLink:hover {
    cursor: pointer;
}

body#groups p a {
    border-bottom: 1px dotted #7a9899;
}

/****************************************************************
list roll call
****************************************************************/
ul li {
    list-style-type: none;
}

ol li {
    margin-left: 2.5em;
    margin-bottom: .5em;
}

li.clean {
    margin: 0;
    padding: 0;
}

body#home ul.groupings a {
    padding-bottom: 2px;
}

body#home ul.groupings a:visited {
    border-color: #7a9899;
}

#content ul.groupings {
  margin: 20px 0;
}

#content ul.groupings li {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: -14px; /* Tightening the space between group items */
}

ul.fields {
    margin: .4em 0 1.5em 0;
}

body#groups ul.groupings {
    margin: 0;
}

body#groups ul.groupings li {
    padding-left: 27px;
    line-height: 1.1em;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: -12px; 
}

body#groups ul.fields {
    width: 445px;
    margin-bottom: 4em;
}

body#groups ul.fields li {
    margin: .3em 0 .5em 0;
    padding-left: 30px;
}

body#groups ul.fields a {
/*    display: block;*/
/*    border: 0;*/
/*    text-decoration: underline;*/
/*    padding: 3px 0 3px 10px;*/
/*    position: relative;*/
/*    left: 14px;*/
/*    margin-left: -24px;*/
}

body#groups ul.fields a:hover {
    color: #fff;
}

body#groups ul.fields a:visited:hover {
    color: #B8B8B8;
}

body#groups ul.fields a.selected:hover {
    color: #F4EA7C;
}

body#groups ul.fields a.selected {
    color: #f4ea7c;
    border-color: #f4ea7c;
/*    background: #5a5651;*/
}

body#groupindex #content ul {
    margin: 0 0 20px 46px;
    font-size: 1.3em;
    line-height: 1.5em;
}

body#groupindex div.gradEducation {
    margin-bottom: 4em;
}

body#groupindex div.gradEducation p {
    font-size: 1.2em;
}

body#groups div.gradEducation {
    clear: left;
    width: 350px;
    padding: 12px;
    margin: 1em 0 2em 0;
    border: 2px solid #005959;
    background: #183F40;  /*lighter green*/
}

body#groups div.gradEducation p {
    font-size: 1.1em;
}

body#groups ul.related a {
   font-size: 1.1em;	
}

body#groups ul.related li {
   margin-bottom: .5em;
}

body#groups div.gradEducation p:first-child {
    margin-top: .5em;
}

body#groups div.small ul {
    font-size: 1.1em;
}

body#groups h3 {
/*    font-weight: bold;*/
    margin-left: 30px;
    margin-top: 8px;
}

body#groups div.gradEducation h3,
body#groups div.small h3  {
/*    font-weight: normal;*/
    font-size: 1.6em;
    margin: 0 0 6px 0;
}

#news ul, #seminars ul {
    width: 100%;
    margin-bottom: 10px;
}

#news li {
    float: left;
    display: block;
    width: 129px;
    margin-right: 10px;
    font-size: 1.1em;
}

#news li.clean, #seminars li.clean {
    margin: 0;
    padding: 0;
}

#seminars ul {
    width: 100%;
}

#seminars li {
    margin-bottom: 1em;
    font-size: 1.1em;
}

/* ---------- Icons for main groupings ---------- */
/* Note: positioning rules had to be declared for each class because they did not work when grouped together*/
.individual31915 {    /* Applied Biology */
    background: url(../images/icons/icon-applied_bio.png) no-repeat left top !important; 
    background: url(../images/icons/icon-applied_bio.gif) no-repeat left top; } 
    
.individual31919 {    /* Biomedical Sciences */
    background: url(../images/icons/icon-biomed.png) no-repeat left top !important;
    background: url(../images/icons/icon-biomed.gif) no-repeat left top; }
    
.individual31918 {    /* Ecology, Evolution, Integrative Biology */
    background: url(../images/icons/icon-ecology.png) no-repeat left top !important;
    background: url(../images/icons/icon-ecology.gif) no-repeat left top; }
    
.individual31917 {    /* Genetics, Genomics, Bioinformatics */
    background: url(../images/icons/icon-genetics.png) no-repeat left top !important;
    background: url(../images/icons/icon-genetics.gif) no-repeat left top; }
    
.individual31916 {    /* Molecular, Cellular Biology */
    background: url(../images/icons/icon-molecbio.png) no-repeat left top !important;
    background: url(../images/icons/icon-molecbio.gif) no-repeat left top; }
    
.individual31920 {    /* Physical, Chemical, Computational Biology */
    background: url(../images/icons/icon-physchem.png) no-repeat left top !important;  
    background: url(../images/icons/icon-physchem.gif) no-repeat left top; }

.individual31915, .individual31919, .individual31918, .individual31917, .individual31916, .individual31920 {
/*    padding: 17px 0 20px 45px;*/
    padding: 14px 0 28px 45px;
}

/* ---------- Small icons for groupings displayed in sidebar ---------- */
.small .individual31915 {    /* Applied Biology */
    background: url(../images/icons/small/smallicon-applied_bio.png) no-repeat left top !important; 
    background: url(../images/icons/small/smallicon-applied_bio.gif) no-repeat left top; } 
    
.small .individual31919 {    /* Biomedical Sciences */
    background: url(../images/icons/small/smallicon-biomed.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-biomed.gif) no-repeat left top; }
    
.small .individual31918 {    /* Ecology, Evolution, Integrative Biology */
    background: url(../images/icons/small/smallicon-ecology.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-ecology.gif) no-repeat left top; }
    
.small .individual31917 {    /* Genetics, Genomics, Bioinformatics */
    background: url(../images/icons/small/smallicon-genetics.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-genetics.gif) no-repeat left top; }
    
.small .individual31916 {    /* Molecular, Cellular Biology */
    background: url(../images/icons/small/smallicon-molecbio.png) no-repeat left top !important;
    background: url(../images/icons/small/smallicon-molecbio.gif) no-repeat left top; }
    
.small .individual31920 {    /* Physical, Chemical, Computational Biology */
    background: url(../images/icons/small/smallicon-physchem.png) no-repeat left top !important;  
    background: url(../images/icons/small/smallicon-physchem.gif) no-repeat left top; }

.small .individual31915,  .small .individual31919, .small .individual31918, .small .individual31917, .small .individual31916, .small .individual31920 {
    padding: 10px 0 20px 47px;
    padding: 8px 0 20px 47px;
}


/****************************************************************
form roll call
****************************************************************/
#findResearchInput {
    height: 18px;
    width: 150px;
    vertical-align: bottom;
    font-size: 1.2em;
    border: 1px solid #0D708F;
    padding: 3px 3px 1px 3px;
    margin: 0 4px 0 0;
}

#findResearchButton {
    width: 68px;
    vertical-align: bottom;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

body#search #search-form-query {
    width: 400px;
    font-size: 1.4em;
    line-height: 1em;
    padding: .2em;
    color: #fff;
    background: #000;
    border: 1px solid #758e90;
}

body#search #search-form-submit {
    font-size: 1.2em;
    margin-left: 4px;
}

body#search #search-form {
    margin-bottom: 3em;
}

body#search #search-form h2 {
    margin-bottom: 1em;
}

body#search #resultsCount {
/*    float: left;*/
/*    width: 200px;*/
/*    margin-left: 50px;*/
    margin-top: 100px;
    color: red;
}

body#search #pagination {
    margin: 40px 0 60px 0;
    font-size: 1.3em;
}

body#search #pagination a {
    color: #fff;
    float: left;
    padding:  3px 6px 3px 6px;
    margin-right: 4px;
    background: #204647;
    border: 1px solid #2f6869;
}

body#search #pagination span {
    float: left;
    padding:  3px 7px 3px 7px;
    margin-right: 4px;
    font-weight: bold;
}

body#search #pagination a:hover {
    border: 1px solid #fff;
}


body#feedback form {
    margin-top: 30px;
}

body#feedback h2 {
/*    margin-bottom: 1em;*/
}

body#feedback label {
    color: #fff;
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

body#feedback label em,
body#feedback p em { 
    font-weight: bold;
    color: red; 
}

body#feedback em.notice { display: block; margin-bottom: 5px; font-style: italic; }

body#feedback span.error {
    display: block;
    color: red;
    font-weight: bold;
    margin-top: 3px;
}

body#feedback input.text, 
body#feedback textarea, 
body#feedback select {
    color: #fff;
    background: #000;
    border: 1px solid #5d7173;
    padding: 5px;
}

body#feedback input.text {
    width: 350px;
    font-size: 1.3em;
}

body#feedback input:focus,
body#feedback textarea:focus,
body#feedback select:focus {
/*    border-color: #bcbcbc;*/
}

body#feedback textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 877px;
    height: 150px;
    font-size: 13px;
}

body#feedback input.submit {
    display: block;
    margin-top: 30px;
}

body#feedback p {
    font-size: 1.3em;
    line-height: 1.2em;
}

body#feedback select {
    font-size: 1.3em;
    padding: 0;
}

body#feedback #content img {
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

/****************************************************************
table roll call
****************************************************************/
body#faculty #indexNav {
    margin: 3em 0 2em 0;
    height: 2em; /* Explicitly set because some browsers will not clear with margins */
    font-size: 1.2em;
}

body#faculty div#indexNav a {
    color: #fff;
    float: left;
    padding:  3px 5px 2px 5px;
    margin-right: 2px;
    background: #204647;
    border: 1px solid transparent !important;
    border: 1px solid #002f2f; /* IE6 can't deal handle the transparent property */
}

body#faculty div#indexNav a:hover {
    border: 1px solid #fff !important;
}

body#departments td span {
    color: #fff;
    font-style: italic;
}

body#faculty .index table,
body#departments table {
    width: 100%;
    clear: left;
    font-size: 1.2em;
    color: #efecca; /* IE6 not reading color from content div */
}

body#faculty .index tbody td.firstRow,
body#departments tbody td.firstRow {
    padding-top: 12px;
}

body#faculty .index thead th,
body#departments thead th {
    color: #a7a37e;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px 10px 2px 8px;
    border-bottom: 1px solid #a7a37e;
}

body#faculty .index tbody td,
body#departments tbody td {
    border-bottom: 1px solid #204647;
}

body#departments tbody tr td {
/*    background: #163030;*/
}

body#departments tbody tr.even td {
    background: #1e4142;
    padding: 5px 10px 4px 8px;
}

body#faculty .index tbody tr:hover {
    background-color: #244e4f;
}

body#faculty .index tbody a:hover,
body#departments tbody a:hover {
    text-decoration: underline;
}

body#faculty .index tbody td,
body#departments tbody td {
    padding: 7px 10px 6px 8px;
    width: 49%;
}

body#faculty .index tfoot td {
    padding-top: 1em;
}


body#departments th.deptLink {
    text-align: center;
}

body#departments td.deptLink a {
    text-indent: -99999px;
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 50px;
    background: url(../images/icons/world_link.png) no-repeat center center !important;
    background: url(../images/icons/world_link.gif) no-repeat center center;
    overflow: hidden;
}

/****************************************************************
table roll call
****************************************************************/

/* Fix for IE6 3-pixel indent bug, described at: http://www.positioniseverything.net/explorer/threepxtest.html */ 
/* Hide from IE5-mac. Only IE-win sees this. \*/
/** html body#groups #content ul {  height: 1%;  margin: 0; padding: .4em 0 0 1em;  }*/
/* End hide from IE5/mac */


* html body#newsindex #content li { 
    float: none;
}

* + html body#newsindex #content li {
    float: none;
}

/* Colors

Light green: #5C7373 (homepage group links)
Light green: #708c8c (link underlines)
Light brown: #5a5651  (faculty spotlight)
Active yellow: #ffee8f  (highlighted field)
Light blue: #69bfde (link hover)
Light blue: #97e3e5 (new links)

*/
