/* Override the margin specified by scholars-vis.cvs */
#bar_chart_vis div[data-view-id="vis"] svg {
	margin-top: 0px;
}

.c3-tooltip-container {
  top: 0
}

.c3-tooltip-container.detailTooltip {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 75%;
}

#jbc {
  height: 90%;
}

.vis_modal #jbc {
  height: 100%;
}

#jbc .transparentPanel {
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(127, 127, 127, 0.1);
}

#jbc .transparentPanel table.c3-tooltip {
  width: 100%
}

.nowShowing {
  font-weight: bold;
}

.nowShowing .selection {
  font-weight: normal;
}
