.row{
	margin-top: 1%;
	max-width: 100%;
	padding-top: 10px;
}

#grants_vis {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  clear: both;
  margin-bottom: 10px;
  text-align: center;
}

#grants_tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  background: rgba(50, 50, 50, 0.8);
  opacity:0.9;
  color: #EFEFEF;
  padding: 15px;
  width: 800px;
  font-family:Arial;
  font-size: 12px;
  z-index: 3001;
}

#grants_tooltip #closeIcon{
  width: 12px;
}

#grants_tooltip #close{
  margin-bottom: 4px;
  float:right;
  cursor: pointer;
}

#grants_tooltip span {
  color: #EFEFEF;
  font-family:Arial;
}

#grants_tooltip .title {
  font-size: 13px;
}

#grants_tooltip .name {
  font-weight:bold;
}

#grants_tooltip span.value a {
  color: #9BC4D4 !important;
}

#grants_tooltip span.value a:hover {
  color: #9BC4D4 !important;
}

a {
  cursor: pointer;
}

#legendDiv text {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
}
