#accordion .panel-body{
  max-height: 300px;
  overflow-y: scroll;
  min-height: 100px;
}

#accordion .panel-title .start{
  color: gray;
}

#accordion .panel-group{
  padding-left: 1%;
}

.selection-list .panel-body li {
  list-style-type: none;
  font-weight: 300;
  padding-left: 0.5em;
  line-height: 2;
}

.selection-list .panel-body li:hover {
   background-color: rgba(50, 150, 200, .7);
   cursor: pointer;
   color:white;
}

.selection-list .panel-body li.current {
   background-color: rgba(50, 150, 200, .2);
}

#accordion #selector label {
  display: inline;
  margin-left: 1%;
}

#accordion #selector li {
  list-style-type: none;
  cursor: pointer;
}

#accordion #checkarea label {
  display: inline;
  margin-left: 1%;
}

#accordion #checkarea li {
  list-style-type: none;
}

#accordion #checkarea input {
  cursor: pointer;
}

#accordion #slider {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

#accordion #slider .noUi-handle {
  cursor: pointer;
}

#accordion #slider .noUi-connect {
  background: #d3d3d3;
}

#accordion .noUi-value-large{
  font-size: 10pt;
  margin-top: 5px;
}

