circle, path {
	cursor: pointer;
}

circle {
	fill: none;
	pointer-events: all;
}

#tooltip {
	background-color: rgba(60, 60, 60, 0.7);
	color: #EFEFEF;
	padding: 3px 5px;
	font-family: Arial;
	text-align: center;
	font-size: 12px;
}

.choices {
	background-color: rgba(50, 50, 50, 0.8);
	color: white;
	font-family: Arial;
	cursor: pointer;
	font-size: 12px;
	border: 2px solid #000000;
	z-index: 10;
}

.choices a {
	color: #EFEFEF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 2px;
}

.triangle-isosceles {
	max-height: 300px;
	max-width: 800px;
	overflow-y:scroll;
	position: relative;
	padding: 15px;
	margin: 1em 10em 3em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	z-index: 100 !important;
}

.collabhoverable {
	width: 100%;
}

.nonlinktext{
	color: #A9A9A9;
}

.collabhoverable a {
	color: white;
	text-decoration: none;
}

.collabhoverable:hover {
	background-color: rgba(50, 150, 200, 0.8);
}